@import '../../../styles.scss';

.gallery {
    &-wrapper {
        @include flex(flex, column, nowrap, flex-start, flex-start);
    }
    &-header {
        @include flex(flex, row, nowrap, space-between, baseline);
        background-color: $color-primary-transparent-no-opacity;
        padding: 24px 48px;
        width: 100%;

        .close-modal {
            cursor: pointer;
            outline: none;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
    &-body {
        padding: 24px;
        width: 100%;
        background-color: $color-background;
    }
    &-footer {
        @include flex(flex, column, nowrap, flex-start, center);
        border-top: 1px solid $color-table-th;
        padding-top: 22px;
        padding-bottom: 22px;
        width: 100%;
        p {
            color: $color-primary;
            font-size: 16px;
            padding: 24px 0 16px 0;
        }
    }
}
