<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update workout</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new workout</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button type="button"
                            class="button-gray"
                            *ngIf="!isModalMode"
                            [routerLink]="['/workout']">Cancel</button>
                    <button type="button"
                            class="button-gray"
                            *ngIf="isModalMode"
                            (click)="cancelClick.emit()">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="workout-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new workout</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="workout-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update workout</button>
                </div>
            </div>
        </div>
        <form id="workout-form"
              name="create"
              #workoutForm="ngForm"
              (submit)="!workoutForm.invalid && onWorkoutSubmit()">
            <div class="create-page-content">
                <div class="create-page-content-left">
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Workout name</p>
                            <input type="text"
                                   required
                                   name="title"
                                   class="input"
                                   [(ngModel)]="workoutTranslation.name"
                                   [ngClass]="{ 'form-submitted': workoutForm.submitted }" />
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Number of calories</p>
                            <counter class="counter"
                                     required
                                     name="numberOfCalories"
                                     [step]="5"
                                     [minValue]="0"
                                     [disabled]="!isDefaultLanguage"
                                     [class.disabled]="!isDefaultLanguage"
                                     [(ngModel)]="workout.numberOfCalories"
                                     [ngClass]="{ 'form-submitted': workoutForm.submitted }"></counter>
                        </div>
                    </div>
                    <div class="form-row">
                        <p class="input-label">Description</p>
                        <input name="description"
                               class="input"
                               maxlength="50"
                               [(ngModel)]="workoutTranslation.description"
                               [ngClass]="{ 'form-submitted': workoutForm.submitted }" />

                    </div>
                    <button class="button-modal-green"
                            (click)="addSet()"
                            [disabled]="!isDefaultLanguage"
                            [class.disabled]="!isDefaultLanguage"
                            type="button">Add a set</button>
                </div>
            </div>
            <div cdkDropList
                 (cdkDropListDropped)="onSetDrop($event)"
                 class="drag-list-container">
                <app-set *ngFor="let set of workout.exerciseSets; let exerciseSetIndex = index"
                         cdkDrag
                         [isDefaultLanguage]="isDefaultLanguage"
                         [setIndex]="exerciseSetIndex"
                         [set]="set"
                         [selectedLanguageId]="selectedLanguageId"
                         (deleteClick)="onSetDeleteClick(workout.exerciseSets, $event)">
                    <button type="button"
                            class="button-move"
                            cdkDragHandle
                            [disabled]="!isDefaultLanguage"
                            [class.disabled]="!isDefaultLanguage"></button>
                    <div class="table-tbody-placeholder"
                         *cdkDragPlaceholder></div>
                </app-set>
            </div>
        </form>
    </div>
</div>