@import '../../../styles.scss';

.button-modal-green {
    margin: 0;
    margin-bottom: 32px;
}
.create-page-content-left {
    margin-bottom: 24px;
}
.drag-list-container {
    width: 70%;
}
app-set {
    width: 100%;
}
.button-move {
    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
