<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of levels</h4>
            <div class="page-list-options">
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search levels" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
                <button type="button"
                        [routerLink]="['/level/create']"
                        class="button-true-green">Create level</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Level name</th>
                    <th scope="col">Order</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let level of list">
                    <td scope="row"
                        class="page-list-td-85">{{level.name}}</td>
                    <td class="page-list-10">{{level.order}}</td>
                    <td class="page-list-td-actions">
                        <div class="page-list-td-actions-wrapper">
                            <div class="page-list-td-actions-wrapper">
                                <a type="button"
                                   class="button-edit"
                                   target="_blank"
                                   [routerLink]="['/level/edit/', level.id]"></a>
                                <button type="button"
                                        class="button-delete"
                                        (click)=delete(level.id)></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>