<div class="modal-body-wrapper">

    <div class="modal-body-options">
        <div class="search-dropdown">
            <p class="input-label">Muscle group</p>
            <ng-select name="muscle-groups"
                       class="select-input"
                       [items]="muscleGroups"
                       bindLabel="name"
                       bindValue="id"
                       [multiple]="true"
                       [typeahead]="muscleGroupsTypeAhead"
                       placeholder="All muscle groups"
                       [(ngModel)]="muscleGroupIds"
                       (focus)="muscleGroupsTypeAhead.emit('')"
                       (change)="load()">
            </ng-select>
        </div>
        <div class="search-wrapper">
            <input id="search"
                   name="search"
                   class="text-input"
                   type="text"
                   [(ngModel)]="searchQuery"
                   (ngModelChange)="searchQueryStream.next($event)"
                   placeholder="Search" />
            <label for="search"></label>
            <button class="button-clear"
                    [ngClass]="{'active': searchQuery}"
                    (click)="clearSearch()"></button>
        </div>
    </div>

    <div class="modal-body-imgs">
        <div *ngFor="let item of list"
             [ngClass]="{'selected': (selected && item.id === selected.id)}">
            <div class="modal-body-box">
                <div class="modal-body-box-img"
                     [ngStyle]="{'background-image': 'url(' + item.image.url + ')'}">
                    <div class="modal-body-box-img-overlayer">
                        <button type="button"
                                class="button-gallery"
                                (click)="select(item)">
                            <img src="/assets/icons/upload.png" /></button>
                    </div>
                    <div class="modal-body-box-info">{{item.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <pagination *ngIf="hasPagination"
                [boundaryLinks]="true"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [maxSize]="10"
                (pageChanged)="onPageChanged($event)"
                previousText="&lsaquo;"
                class="modal-body-pagination"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
</div>