<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update blog</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new blog</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/blog']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="blog-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new blog</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="blog-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update blog</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="blog-form"
                  name="create"
                  #blogForm="ngForm"
                  (submit)="!blogForm.invalid && onBlogSubmit()">
                <div class="create-page-content-left">
                    <p class="input-label">Blog name</p>
                    <input type="text"
                           required
                           name="title"
                           class="input"
                           [(ngModel)]="blogTranslation.title"
                           [ngClass]="{ 'form-submitted': blogForm.submitted }" />

                    <p class="input-label">Blog content</p>
                    <ckeditor class="editor"
                              required
                              name="description"
                              [editor]="editor"
                              [config]="config"
                              [ngClass]="{ 'form-submitted': blogForm.submitted }"
                              [(ngModel)]="blogTranslation.description"
                              (ready)="onEditorReady($event)"></ckeditor>
                </div>
                <div class="create-page-content-right">
                    <p class="input-label">Blog image</p>
                    <gallery-item required
                                  name="blogImage"
                                  [type]="'image'"
                                  [readonly]="!isDefaultLanguage"
                                  [(ngModel)]="selectedGalleryItem"
                                  (ngModelChange)="onGalleryItemSelected($event)"
                                  [ngClass]="{ 'form-submitted': blogForm.submitted }"></gallery-item>
                </div>
            </form>
        </div>
    </div>
</div>