.assign {
    &-header {
        align-content: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &-template-popover {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ng-select.select-input {
            font-size: 13px;
            height: 32px;
            margin: 8px 0;
            min-height: 38px;

            .ng-placeholder {
                font-size: 13px;
            }
            .ng-input {
                padding-left: 0;
                padding-right: 0;

                &input {
                    height: 100%;
                    padding: 0;
                }
            }
            .ng-arrow-wrapper {
                width: 32px;
            }
            .ng-value-container {
                .ng-placeholder {
                    position: relative;
                }
            }
        }
    }
}
