<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update environment</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new environment</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/environment']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="environment-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new environment</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="environment-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update environment</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="environment-form"
                  name="create"
                  #environmentForm="ngForm"
                  (submit)="!environmentForm.invalid && onEnvironmentSubmit()">
                <div class="create-page-content-left">
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Environment name</p>
                            <input type="text"
                                   required
                                   name="title"
                                   class="input"
                                   [(ngModel)]="environmentTranslation.name"
                                   [ngClass]="{ 'form-submitted': environmentForm.submitted }" />
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Description</p>
                            <input type="text"
                                   required
                                   name="description"
                                   class="input"
                                   [(ngModel)]="environmentTranslation.description"
                                   [ngClass]="{ 'form-submitted': environmentForm.submitted }" />
                        </div>

                    </div>
                    <div class="counter-wrapper">
                        <p class="input-label">Order</p>
                        <counter class="counter"
                                 name="order"
                                 required
                                 [disabled]="!isDefaultLanguage"
                                 [class.disabled]="!isDefaultLanguage"
                                 [(ngModel)]="environment.order"
                                 [ngClass]="{ 'form-submitted': environmentForm.submitted }"></counter>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>