<div class="login">
    <div class="container">
        <div class="login-wrapper">
            <img class="login-logo"
                 src="/assets/img/logo.png" />
            <h2 class="login-header">Welcome to InfinityFit</h2>
            <p class="login-description">Login to your InfinityFit account.</p>
            <form #loginForm="ngForm"
                  name="login"
                  (submit)="!loginForm.invalid && login()"
                  class="login-form">
                <input name="username"
                       required
                       placeholder="Username"
                       class="text-input"
                       [ngClass]="{ 'form-submitted': loginForm.submitted }"
                       [(ngModel)]="username" />
                <input name="password"
                       required
                       placeholder="Password"
                       type="password"
                       class="text-input"
                       [ngClass]="{ 'form-submitted': loginForm.submitted }"
                       [(ngModel)]="password" />
                <button class="button button-green">Login</button>
            </form>
            <a [routerLink]="'/auth/forgot-password'"
               class="login-forgot-pass">Forgot password</a>
        </div>
    </div>
</div>