@import '../../../styles.scss';
@import '../form/form.component.scss';

.set {
    margin-top: 24px;

    &.colapsed-header {
        padding-bottom: 0;

        &:hover {
            box-shadow: 0px 0px 13px -10px $color-shadow;
        }

        .set-header {
            margin: 0;
            border: none;
        }
    }

    &-header {
        @include flex(flex, row, nowrap, space-between, center);
        cursor: pointer;
        border-bottom: 1px solid $color-box-shadow;
        padding: 0 32px 8px 32px;
        margin-bottom: 30px;

        &-title {
            width: calc(100% - 71px);
            color: $color-primary;
            font-size: 15px;
            font-weight: 500;
        }
        &-options {
            .button-delete {
                background-size: 14px auto;
                margin-right: 14px;

                &.disabled {
                    cursor: not-allowed;
                    opacity: 0.6;
                }
            }
            .button-move {
                background-size: 8px auto;
                margin-right: 0;
            }
        }
    }
    &-body {
        padding: 8px 32px 8px 32px;
    }
    &-table {
        @include flex(flex, column, nowrap, flex-start, flex-start);

        &-thead {
            @include flex(flex, row, nowrap, space-between, center);
            border-bottom: 1px solid $color-box-shadow;
            border-top: 1px solid $color-box-shadow;
            padding: 22px 32px;
            margin: 0;
            width: 100%;

            &-th {
                color: $color-primary;
                font-size: 14px;
                font-weight: 500;
                padding: 0;
                margin: 0;

                &.width-10 {
                    width: 10%;
                }
                &.width-20 {
                    width: 20%;
                }
                &.width-30 {
                    width: 30%;
                }
                &.options {
                    padding: 0 16px;
                }

                @include breakpoint(xlg) {
                    font-size: 13px;
                }
            }
        }
        &-tbody {
            @include flex(flex, column, nowrap, flex-start, flex-start);
            border-bottom: 1px solid $color-box-shadow;
            margin: 0;
            width: 100%;

            &:last-child {
                margin-bottom: 12px;
            }

            &:hover {
                box-shadow: 0px 0px 13px -10px $color-shadow;
            }
            &-exercise {
                @include flex(flex, column, nowrap, center, center);
                padding: 22px 32px 0;
                width: 100%;
            }
            &-rest {
                @include flex(flex, row, nowrap, flex-start, center);
                background-color: $color-primary-transparent;
                padding: 22px 32px;
                width: 100%;
            }
        }
    }
    &-buttons {
        @include flex(flex, row, nowrap, center, center);
        padding: 32px;
        padding-bottom: 0;

        button.disabled {
            cursor: not-allowed;
            opacity: 0.8;
        }
    }
    .button-move.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.set-table-drag-list-container {
    width: 100%;
}
.create-page-content {
    margin-bottom: 24px;

    &-left.set {
        margin: 0;
        margin-top: 8px;
        width: 100%;
    }
}
.colapsed {
    display: none;
    transition: display 0.3s linear;
}
