<div class="create-page-content-left set"
     ngModelGroup="set"
     #setGroup="ngModelGroup"
     [class.colapsed-header]="isCollapsed">

    <div class="set-header">
        <p class="set-header-title"
           (click)="isCollapsed = !isCollapsed">Set {{setIndex + 1}}</p>
        <div class="set-header-options">
            <button type="button"
                    class="button-delete"
                    (click)="onDeleteClick()"
                    [disabled]="!isDefaultLanguage"
                    [class.disabled]="!isDefaultLanguage"></button>
            <ng-content></ng-content>
        </div>
    </div>

    <div class="set-body"
         [class.colapsed]="isCollapsed">
        <div class="form-row">
            <div class="form-row-input">
                <p class="input-label">Set name</p>
                <input type="text"
                       required
                       class="input"
                       [name]="'set-' + setIndex + '-name'"
                       [class.form-submitted]="form.submitted"
                       [(ngModel)]="setTranslation.name" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-row-input">
                <p class="input-label">Set type</p>
                <button type="button"
                        class="button-dual-left"
                        [disabled]="!isDefaultLanguage"
                        [class.disabled]="!isDefaultLanguage"
                        [ngClass]="{'selected-set-type': set.type === 'round'}"
                        (click)="set.type = 'round'; set.durationInSeconds = 0;">Rounds</button>
                <button type="button"
                        [disabled]="!isDefaultLanguage"
                        [class.disabled]="!isDefaultLanguage"
                        class="button-dual-right"
                        [ngClass]="{'selected-set-type': set.type === 'time'}"
                        (click)="set.type = 'time'; set.numberOfRounds = 0;">Time</button>
            </div>
            <div class="form-row-input"
                 *ngIf="set.type === 'round'">
                <p class="input-label">Rounds</p>
                <div class="counter-wrapper">
                    <counter class="input counter-button"
                             required
                             [disabled]="!isDefaultLanguage"
                             [class.disabled]="!isDefaultLanguage"
                             [name]="'set-' + setIndex + '-number-of-rounds'"
                             [step]="1"
                             [minValue]="0"
                             [class.form-submitted]="form.submitted"
                             [(ngModel)]="set.numberOfRounds"></counter>
                </div>
            </div>
            <div class="form-row-input"
                 *ngIf="set.type === 'time'">
                <p class="input-label">Duration (min)</p>
                <div class="counter-wrapper">
                    <counter class="input counter-button"
                             [name]="'set-' + setIndex + '-duration'"
                             [step]="1"
                             [minValue]="0"
                             [class.form-submitted]="form.submitted"
                             [(ngModel)]="set.durationInSeconds"
                             [disabled]="!isDefaultLanguage"
                             [class.disabled]="!isDefaultLanguage"></counter>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-row-input">
                <p class="input-label">Set description</p>
                <input type="text"
                       class="input with-hint"
                       [name]="'set-' + setIndex + '-description'"
                       [class.form-submitted]="form.submitted"
                       maxlength="30"
                       [(ngModel)]="setTranslation.description" />
                <p class="input-hint">*Maximum 30 characters</p>
            </div>
        </div>
    </div>

    <div [class.colapsed]="isCollapsed">
        <div class="set-table">
            <div class="set-table-thead">
                <p class="set-table-thead-th width-20">Name</p>
                <p class="set-table-thead-th width-20">Reps</p>
                <p class="set-table-thead-th width-20">Time (sec)</p>
                <p class="set-table-thead-th width-20">Weight (in %)</p>
                <p class="set-table-thead-th width-10 options">Remove</p>
            </div>
            <div class="set-table-drag-list-container"
                 cdkDropList
                 (cdkDropListDropped)="onRoundItemDrop($event)">
                <div class="set-table-tbody"
                     cdkDrag
                     *ngFor="let roundItem of set.items; let roundItemIndex = index">
                    <app-exercise-item *ngIf="roundItem.type === 'exercise'"
                                       class="set-table-tbody-exercise"
                                       [item]="roundItem"
                                       [isDefaultLanguage]="isDefaultLanguage"
                                       [itemIndex]="roundItemIndex"
                                       [setIndex]="setIndex"
                                       (pauseClick)="addPause(set, $event)"
                                       (deleteClick)="onRoundItemDeleteClick(set, $event)">
                        <button type="button"
                                class="button-move width-10"
                                cdkDragHandle
                                [disabled]="!isDefaultLanguage"
                                [class.disabled]="!isDefaultLanguage"></button>
                        <div class="table-tbody-placeholder"
                             *cdkDragPlaceholder></div>
                    </app-exercise-item>
                    <app-pause-item *ngIf="roundItem.type === 'pause'"
                                    class="set-table-tbody-rest"
                                    [item]="roundItem"
                                    [isDefaultLanguage]="isDefaultLanguage"
                                    [itemIndex]="roundItemIndex"
                                    [setIndex]="setIndex"
                                    (deleteClick)="onRoundItemDeleteClick(set, $event)">
                        <button type="button"
                                class="button-move width-10"
                                cdkDragHandle
                                [disabled]="!isDefaultLanguage"
                                [class.disabled]="!isDefaultLanguage"></button>
                        <div class="table-tbody-placeholder"
                             *cdkDragPlaceholder></div>
                    </app-pause-item>
                </div>
            </div>
        </div>
        <div class="set-buttons">
            <button type="button"
                    class="button-modal-green"
                    [disabled]="!isDefaultLanguage"
                    [class.disabled]="!isDefaultLanguage"
                    (click)="addExercise(set)">Add exercise</button>
        </div>
    </div>
</div>