<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update goal</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new goal</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/goal']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="goal-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new goal</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="goal-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update goal</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="goal-form"
                  name="create"
                  #goalForm="ngForm"
                  (submit)="!goalForm.invalid && onGoalSubmit()">
                <div class="create-page-content-left">
                    <p class="input-label">Goal name</p>
                    <input type="text"
                           required
                           name="title"
                           class="input"
                           [(ngModel)]="goalTranslation.name"
                           [ngClass]="{ 'form-submitted': goalForm.submitted }" />
                    <p class="input-label">Description</p>
                    <input type="text"
                           required
                           name="description"
                           class="input"
                           [(ngModel)]="goalTranslation.description"
                           [ngClass]="{ 'form-submitted': goalForm.submitted }" />

                    <div class="counter-wrapper">
                        <p class="input-label">Order</p>
                        <counter class="counter"
                                 name="order"
                                 required
                                 [disabled]="!isDefaultLanguage"
                                 [class.disabled]="!isDefaultLanguage"
                                 [(ngModel)]="goal.order"
                                 [ngClass]="{ 'form-submitted': goalForm.submitted }"></counter>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>