@import './../../../styles.scss';

.create-page-content {
    display: flex;

    &-left {
        margin-bottom: 24px;
    }
    &-right {
        height: 100%;
    }
}
.form-row-input {
    margin-right: 0;
}
.ingredients-list,
.recipe-steps {
    border-top: 1px solid $color-table-th;
    padding: 32px;
    left: -32px;
    position: relative;
    width: calc(100% + 64px);

    .input-label.title {
        font-size: 15px;
        margin-bottom: 22px;
    }
    .ingredients-row,
    .step-row {
        @include flex(flex, row, nowrap, flex-start, center);

        .input {
            margin: 8px 0 8px;
        }
    }
}
.modal.show .modal-dialog {
    top: 0;
}
