<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update meal</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new meal</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/meal']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="program-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new meal</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="program-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update meal</button>
                </div>
            </div>
        </div>
        <form id="program-form"
              name="create"
              #mealForm="ngForm"
              (submit)="!mealForm.invalid && onMealSubmit()">
            <div class="create-page-content">
                <div class="create-page-content-left">
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Meal name</p>
                            <input type="text"
                                   required
                                   name="title"
                                   class="input"
                                   [(ngModel)]="mealTranslation.name"
                                   [ngClass]="{ 'form-submitted': mealForm.submitted }" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Number of calories</p>
                            <counter class="counter"
                                     required
                                     name="number_of_calories"
                                     required
                                     [step]="1"
                                     [minValue]="1"
                                     [disabled]="!isDefaultLanguage"
                                     [class.disabled]="!isDefaultLanguage"
                                     [(ngModel)]="meal.number_of_calories"
                                     [ngClass]="{ 'form-submitted': mealForm.submitted }"></counter>
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Time to prepare (in minutes)</p>
                            <counter class="counter"
                                     required
                                     name="preparation_time"
                                     required
                                     [step]="1"
                                     [minValue]="1"
                                     [disabled]="!isDefaultLanguage"
                                     [class.disabled]="!isDefaultLanguage"
                                     [(ngModel)]="meal.preparation_time_in_minutes"
                                     [ngClass]="{ 'form-submitted': mealForm.submitted }"></counter>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Proteins (in grams)</p>
                            <counter class="counter"
                                     required
                                     name="proteins"
                                     required
                                     [step]="1"
                                     [minValue]="1"
                                     [disabled]="!isDefaultLanguage"
                                     [class.disabled]="!isDefaultLanguage"
                                     [(ngModel)]="meal.proteins"
                                     [ngClass]="{ 'form-submitted': mealForm.submitted }"></counter>
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Carbo (in grams)</p>
                            <counter class="counter"
                                     required
                                     name="carbohydrates"
                                     required
                                     [step]="1"
                                     [minValue]="1"
                                     [disabled]="!isDefaultLanguage"
                                     [class.disabled]="!isDefaultLanguage"
                                     [(ngModel)]="meal.carbohydrates"
                                     [ngClass]="{ 'form-submitted': mealForm.submitted }"></counter>
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Fat (in grams)</p>
                            <counter class="counter"
                                     required
                                     name="fat"
                                     required
                                     [step]="1"
                                     [minValue]="1"
                                     [disabled]="!isDefaultLanguage"
                                     [class.disabled]="!isDefaultLanguage"
                                     [(ngModel)]="meal.fat"
                                     [ngClass]="{ 'form-submitted': mealForm.submitted }"></counter>
                        </div>
                    </div>

                    <div class="form-row">
                        <p class="input-label">Description</p>
                        <textarea name="description"
                                  required
                                  class="input input-textarea"
                                  [(ngModel)]="mealTranslation.description"
                                  [ngClass]="{ 'form-submitted': mealForm.submitted }"></textarea>

                    </div>

                    <div class="ingredients-list">
                        <p class="input-label title">Ingredients</p>
                        <div class="form-row"
                             *ngFor="let ingredient of ingredients; let i = index;">
                            <div class="form-row-input full-width">
                                <p class="input-label">Ingredient {{i + 1}}</p>
                                <div class="ingredients-row">
                                    <input type="text"
                                           required
                                           name="ingredient-{{i}}"
                                           class="input"
                                           [ngClass]="{ 'form-submitted': mealForm.submitted }"
                                           [(ngModel)]="ingredient.name" />
                                    <button type="button"
                                            class="button-delete"
                                            (click)="removeIngredient(ingredient)"
                                            [disabled]="!isDefaultLanguage"
                                            [class.disabled]="!isDefaultLanguage"></button>
                                </div>
                            </div>
                        </div>
                        <button type="button"
                                class="button-modal-green"
                                (click)="addIngredient()"
                                [disabled]="!isDefaultLanguage"
                                [class.disabled]="!isDefaultLanguage">Add ingredient</button>
                    </div>

                    <div class="recipe-steps">
                        <p class="input-label title">Preparation steps</p>
                        <div class="form-row"
                             *ngFor="let step of recipeSteps; let i = index;">
                            <div class="form-row-input full-width">
                                <p class="input-label">Step {{i + 1}}</p>
                                <div class="step-row">
                                    <textarea name="step-{{i}}"
                                              required
                                              class="input input-textarea"
                                              [(ngModel)]="step.description"
                                              [ngClass]="{ 'form-submitted': mealForm.submitted }"></textarea>
                                    <button type="button"
                                            class="button-delete"
                                            (click)="removeRecipeStep(step)"
                                            [disabled]="!isDefaultLanguage"
                                            [class.disabled]="!isDefaultLanguage"></button>
                                </div>
                            </div>
                        </div>
                        <button type="button"
                                class="button-modal-green"
                                (click)="addRecipeStep()"
                                [disabled]="!isDefaultLanguage"
                                [class.disabled]="!isDefaultLanguage">Add step</button>
                    </div>
                </div>
                <div class="create-page-content-right">
                    <p class="input-label">Meal image</p>
                    <gallery-item required
                                  name="mealImage"
                                  [type]="'image'"
                                  [(ngModel)]="mealTranslation.image"
                                  [ngClass]="{ 'form-submitted': mealForm.submitted }"></gallery-item>
                    <p class="input-label">Meal video</p>
                    <gallery-item name="mealVideo"
                                  [type]="'video'"
                                  [(ngModel)]="mealTranslation.video"></gallery-item>
                </div>
            </div>
        </form>
    </div>
</div>