// Font
$font-family: 'Roboto', sans-serif;
$font-size: 14px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height: 1.4;

// Colors
$color-background: #ffffff;
$color-background-gray: #fbfbfb;
$color-transparent: #ffffff00;
$color-background-primary: #0b2441;
$color-primary: #0b2441;
$color-blue: #3297fd;
$color-primary-transparent: rgba(11, 36, 65, 0.05);
$color-primary-transparent-1: rgba(11, 36, 65, 0.5);
$color-primary-transparent-no-opacity: #f2f3f5;
$color-primary-transparent-modal: rgba(11, 36, 65, 0.7);
$color-primary-darker: #041a34;
$color-primary-1: #00b04c;
$color-primary-1-transparent: rgba(0, 176, 76, 0.05);
$color-primary-2: #12cb62;
$color-primary-1-opacity: #106b4a;
$color-primary-2-opacity: #16855d;
$color-primary-text-opacity: #9d9d9d;
$color-true-white: #fff;
$color-gray: #bbbbbb;
$color-gray-button: #efefef;
$color-gray-darker: #757575;
$color-black: #0b2441;
$color-error: #b00020;
$color-warning: #ff9122;
$color-text: #bbbbbb;
$color-link-default: #bbbbbb;
$color-link-hover: #757575;
$color-input-touched: #eff7fb;
$color-hr: rgba(191, 191, 191, 0.2);
$color-table-th: #bfbfbf;
$color-heading: #ffffff;
$color-line: #00b04c;
$color-shadow: #707070;
$color-box-shadow: rgba(122, 122, 122, 0.16);

// Margins
$margin: 5px;
$padding: 20px;

// Image path
$image-path: '';

// Retina image suffix
$image-suffix: '-2x';

// Font path
$font-path: '../fonts/';

// Grid
$grid-columns: 12;
$grid-column-gutter: 30px;

// break points
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1280px;
$xlg: 1680px;
