@import '../../../../styles.scss';

.tub {
    &-label {
        outline: none;
        cursor: pointer;
        color: $color-primary;
        margin: 0;
        font-weight: 400;
        position: relative;
        text-align: center;
        font-size: 14px;
        padding: 15px 32px;
        height: 48px;
        transition: color 0.5s ease-in-out;

        @include breakpoint(xlg) {
            padding: 12px 20px;
        }

        @include breakpoint(lg) {
            font-size: 12px;
            padding: 10px 16px;
        }

        &.active {
            font-weight: 500;
            color: $color-true-white;
            cursor: default;
            padding: 9px 25px;
            height: 40px;
            font-size: 14px;
            border-radius: 20px;
            background-color: $color-primary-1;
            transition: background-color 0.5s ease-in-out;

            @include breakpoint(xlg) {
                padding: 10px 20px;
            }
            @include breakpoint(lg) {
                font-size: 12px;
                padding: 10px 16px;
            }
        }
    }
}
