<div class="languages"
     btnRadioGroup
     [(ngModel)]="selectedLanguageId"
     (ngModelChange)="onChange($event); onTouched();">
    <label class="tub-label"
           [btnRadio]="language.id"
           [disabled]="isDisabled"
           tabindex="0"
           role="button"
           *ngFor="let language of languages">{{language.language}}</label>
</div>