<ng-template #popTemplateWorkoutProgramUsers>
    <p class="blue-text"><b>Subscribed Users</b></p>
    <ul *ngIf="!loadingProgramUsers && programUsers.length > 0">
        <li class="gray-text"
            *ngFor="let user of programUsers">{{user.first_name}} {{user.last_name}}</li>
    </ul>
    <div *ngIf="!loadingProgramUsers && programUsers.length === 0">
        <p class="gray-text">Program has no users</p>
    </div>
    <div *ngIf="loadingProgramUsers">
        <p class="gray-text">Loading...</p>
    </div>
</ng-template>

<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of workout programs</h4>
            <div class="page-list-options">
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search workouts" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
                <button type="button"
                        [routerLink]="['create']"
                        class="button-true-green">Create new workout program</button>
            </div>
        </div>

        <div class="filter-row">
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Program Name</th>
                    <th scope="col">Activations</th>
                    <th scope="col">Published</th>
                    <th scope="col">Review</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let program of list">
                    <td scope="row"
                        class="page-list-td-50">{{program.name}}</td>
                    <td class="page-list-td-5">{{program.activated_count}}</td>
                    <td class="page-list-td-15">
                        <button *ngIf="program.is_published"
                                type="button"
                                (click)="publish(program)"
                                class="button-status-green">Published</button>
                        <button *ngIf="!program.is_published"
                                type="button"
                                (click)="publish(program)"
                                class="button-status-gray">Draft</button>
                    </td>
                    <td class="page-list-td-25">
                        <button type="button"
                                class="button-like"
                                triggers="mouseenter:mouseleave"
                                popover="Likes: {{program.like_count}}"></button>
                        <button type="button"
                                class="button-rate"
                                triggers="mouseenter:mouseleave"
                                popover="Avg. rate: {{program.avg_rating}}"></button>
                        <button type="button"
                                class="button-comment"
                                triggers="mouseenter:mouseleave"
                                popover="Comments: {{program.comment_count}}"></button>
                        <button type="button"
                                class="button-user"
                                triggers="click"
                                [outsideClick]="true"
                                [popover]="popTemplateWorkoutProgramUsers"
                                (click)="loadWorkoutProgramUsers(program)"></button>
                    </td>

                    <td class="page-list-td-actions">
                        <div class="page-list-td-actions-wrapper">
                            <button type="button"
                                    class="button-notification"
                                    (click)="notify(program.id)"></button>
                            <a type="button"
                               class="button-edit"
                               target="_blank"
                               [routerLink]="['/program/edit/', program.id]"></a>
                            <assign-program [program]="program"
                                            (popoverOpen)="onAssignPopoverOpen($event)"></assign-program>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>
