<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update meal group</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new meal group</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/meal-group']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="meal-group-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new meal group</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="meal-group-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update meal group</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="meal-group-form"
                  name="create"
                  #mealGroupForm="ngForm"
                  (submit)="!mealGroupForm.invalid && onMealGroupSubmit()">
                <div class="create-page-content-left">
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Meal group name</p>
                            <input type="text"
                                   required
                                   name="title"
                                   class="input"
                                   [(ngModel)]="mealGroupTranslation.name"
                                   [ngClass]="{ 'form-submitted': mealGroupForm.submitted }" />
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Eating time</p>
                            <input type="text"
                                   required
                                   name="eating-time"
                                   class="input"
                                   [(ngModel)]="mealGroupTranslation.eating_time"
                                   [ngClass]="{ 'form-submitted': mealGroupForm.submitted }" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>