@import '../../../../styles.scss';

.modal {
    &-wrapper {
        @include flex(flex, column, nowrap, flex-start, flex-start);
    }
    &-header {
        @include flex(flex, row, nowrap, space-between, baseline);
        background-color: $color-primary-transparent-no-opacity;
        padding: 24px 48px;
        width: 100%;

        .close-modal {
            cursor: pointer;
            outline: none;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
    &-body {
        padding: 24px;
        width: 100%;
    }
}
