<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of Blogs</h4>
            <div class="page-list-options">
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search blogs" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
                <button type="button"
                        [routerLink]="['/blog/create']"
                        class="button-true-green">Create new blog</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Blog Status</th>
                    <th scope="col">Blog published</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blog of list">
                    <td scope="row"
                        class="page-list-td-5">{{blog.id}}</td>
                    <td class="page-list-td-48">{{blog.title}}</td>
                    <td class="page-list-td-25">
                        <button *ngIf="blog.is_published"
                                type="button"
                                (click)="publish(blog)"
                                class="button-status-green">Published</button>
                        <button *ngIf="!blog.is_published"
                                type="button"
                                (click)="publish(blog)"
                                class="button-status-gray">Draft</button>
                    </td>
                    <td class="page-list-td-15">{{blog.published_at | dateFormat }}
                    </td>
                    <td class="page-list-td-actions">
                        <div class="page-list-td-actions-wrapper">
                            <button type="button"
                                    class="button-notification"
                                    (click)="notify(blog.id)"></button>
                            <a type="button"
                               class="button-edit"
                               target="_blank"
                               [routerLink]="['/blog/edit/', blog.id]"></a>
                            <button type="button"
                                    class="button-delete"
                                    (click)="delete(blog.id)"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>