<ng-template #assignForm>
    <div class="assign-template">
        <div class="assign-header">
            <p class="blue-text">Assign {{program.name}} to: </p>
            <button type="button"
                    class="button-close"
                    (click)="pop.hide()"></button>
        </div>
        <div class="assign-template-popover">
            <ng-select name="user-search"
                       class="select-input in-tooltip"
                       required
                       [items]="users"
                       bindLabel="email"
                       [typeahead]="usersTypeAhead"
                       placeholder="Find user to assign program"
                       [(ngModel)]="selectedUser">
            </ng-select>
            <button type="button"
                    class="button-gray"
                    (click)="assignProgramToUser(program, selectedUser, pop)">Assign</button>
        </div>
    </div>
</ng-template>
<button type="button"
        class="button-add-user"
        triggers="click"
        placement="left"
        #pop="bs-popover"
        [popover]="assignForm"
        (click)="onOpen()"></button>
