<div class="exercise-item-wrapper">
    <p class="width-20">{{item.exercise.name}}</p>

    <div class="counter-input-wrapper width-20">

        <counter class="input counter-button"
                 required
                 [disabled]="!isDefaultLanguage"
                 [class.disabled]="!isDefaultLanguage"
                 [name]="'set-' + setIndex + '-no-of-reps-' + itemIndex"
                 [step]="5"
                 [minValue]="0"
                 [(ngModel)]="item.numberOfReps"></counter>
    </div>

    <div class="counter-input-wrapper width-20">

        <counter class="input counter-button"
                 required
                 [disabled]="!isDefaultLanguage"
                 [class.disabled]="!isDefaultLanguage"
                 [name]="'set-' + setIndex + '-duration-in-seconds-' + itemIndex"
                 [step]="5"
                 [minValue]="0"
                 [(ngModel)]="item.durationInSeconds"></counter>
    </div>

    <div class="counter-input-wrapper width-20">
        <counter class="input counter-button"
                 required
                 [disabled]="!isDefaultLanguage"
                 [class.disabled]="!isDefaultLanguage"
                 [name]="'set-' + setIndex + '-strength-' + itemIndex"
                 [step]="5"
                 [minValue]="0"
                 [(ngModel)]="item.strengthInPercentage"></counter>
    </div>
    <div class="options width-10">
        <button type="button"
                [disabled]="!isDefaultLanguage"
                [class.disabled]="!isDefaultLanguage"
                class="button-delete width-10"
                (click)="onDeleteClick()"></button>
        <ng-content></ng-content>
    </div>
</div>
<div class="minimizer">
    <button class="minimizer-image"
            type="button"
            (click)="onPauseClick()"
            [disabled]="!isDefaultLanguage"
            [class.disabled]="!isDefaultLanguage">
        <img src="../../../../assets/icons/minimizer.png" />
    </button>
</div>