@import '../../../../styles.scss';
@import '../../form/form.component.scss';

.exercise-item-wrapper {
    @include flex(flex, row, nowrap, space-between, center);
    width: 100%;
}
p,
.counter-input-wrapper,
.options {
    margin: 0;
    margin-right: 16px;

    @include breakpoint(xlg) {
        font-size: 13px;
    }
}
p {
    font-size: 12px;
}
.width {
    &-10 {
        width: 10%;
    }
    &-20 {
        width: 20%;
    }
    &-30 {
        width: 30%;
    }
}
p {
    color: $color-primary;
    font-size: 14px;
    @include breakpoint(lg) {
        font-size: 12px;
    }
}
.options {
    @include flex(flex, row, nowrap, flex-end, center);
    margin: 0;
    padding: 0;

    @include breakpoint(lg) {
        button {
            margin: 0;
        }
    }
}
.button-delete,
.button-move {
    padding: 0;
    background-position: center;
    margin: 0 5px;
    width: 20px;

    &.disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }
}

.minimizer {
    @include flex(flex, column, nowrap, center, center);
    width: 100%;

    &-image {
        @include flex(flex, column, nowrap, center, center);
        background-color: $color-gray-button;
        border-radius: 50%;
        cursor: pointer;
        height: 27px;
        position: relative;
        margin: 0;
        top: 12px;
        left: 25px;
        visibility: hidden;
        transition: visibility 0.3s linear;
        width: 30px;

        &.disabled {
            cursor: not-allowed;
            opacity: 0.8;
        }

        @include breakpoint(lg) {
            left: 10px;
        }

        img {
            width: 10px;
        }
    }
    &:hover {
        .minimizer-image {
            visibility: visible;
            transition: visibility 0.3s linear;
        }
    }
}
