.create-page-content {
    display: flex;

    &-left {
        margin-bottom: 24px;
    }
    &-right {
        height: 100%;
    }
}
.week-wrapper {
    padding-right: 16px;
    overflow: auto;
    width: 70%;
}