<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update workout program</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new workout program</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/program']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="program-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new workout program</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="program-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update workout program</button>
                </div>
            </div>
        </div>
        <form id="program-form"
              name="create"
              #programForm="ngForm"
              (submit)="!programForm.invalid && onProgramSubmit()">
            <div class="create-page-content">
                <div class="create-page-content-left">
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Workout program name</p>
                            <input type="text"
                                   required
                                   name="title"
                                   class="input"
                                   [(ngModel)]="programTranslation.name"
                                   [ngClass]="{ 'form-submitted': programForm.submitted }" />
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Workout days per week</p>
                            <counter class="counter"
                                     required
                                     name="workoutDaysPerWeek"
                                     required
                                     [step]="1"
                                     [maxValue]="7"
                                     [minValue]="1"
                                     [disabled]="!isDefaultLanguage"
                                     [class.disabled]="!isDefaultLanguage"
                                     [(ngModel)]="program.workout_days_per_week"
                                     [ngClass]="{ 'form-submitted': programForm.submitted }"></counter>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Level (you can select multiple levels)</p>
                            <ng-select name="level"
                                       class="select-input"
                                       placeholder="Select levels"
                                       bindLabel="name"
                                       bindValue="id"
                                       [searchable]="false"
                                       [items]="levels"
                                       [disabled]="!isDefaultLanguage"
                                       [multiple]="true"
                                       [(ngModel)]="program.level_ids"
                                       [ngClass]="{ 'form-submitted': programForm.submitted }">
                            </ng-select>
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Environment (you can select multiple environments)</p>
                            <ng-select name="environments"
                                       class="select-input"
                                       required
                                       placeholder="Select environments"
                                       bindLabel="name"
                                       bindValue="id"
                                       [searchable]="false"
                                       [items]="environments"
                                       [disabled]="!isDefaultLanguage"
                                       [multiple]="true"
                                       [(ngModel)]="program.exercise_environment_ids"
                                       [ngClass]="{ 'form-submitted': programForm.submitted }">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Goal (you can select multiple goals)</p>
                            <ng-select name="goals"
                                       class="select-input"
                                       required
                                       placeholder="Select goals"
                                       bindLabel="name"
                                       bindValue="id"
                                       [searchable]="false"
                                       [items]="goals"
                                       [disabled]="!isDefaultLanguage"
                                       [multiple]="true"
                                       [(ngModel)]="program.goal_ids"
                                       [ngClass]="{ 'form-submitted': programForm.submitted }">
                            </ng-select>
                        </div>

                        <div class="form-row-input-double">
                            <div class="form-row-input width-60">
                                <p class="input-label">Program status</p>
                                <ng-select name="program-status"
                                           class="select-input"
                                           required
                                           [searchable]="false"
                                           [items]="statuses"
                                           [disabled]="!isDefaultLanguage"
                                           bindLabel="name"
                                           bindValue="value"
                                           placeholder="Select status"
                                           [(ngModel)]="program.is_published"
                                           [ngClass]="{ 'form-submitted': programForm.submitted }">
                                </ng-select>
                            </div>
                            <div class="form-row-input center width-30">
                                <input name="program-is-free"
                                       class="checkbox input-checkbox"
                                       type="checkbox"
                                       [disabled]="!isDefaultLanguage"
                                       [class.true]="program.is_free"
                                       [class.false]="!program.is_free"
                                       [(ngModel)]="program.is_free" />
                                <span class="checkbox-label">Free program</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Gender</p>
                            <ng-select name="gender"
                                       class="select-input"
                                       [searchable]="false"
                                       [disabled]="!isDefaultLanguage"
                                       [items]="genderOptions"
                                       bindLabel="label"
                                       bindValue="key"
                                       placeholder="Select gender"
                                       [(ngModel)]="program.gender"
                                       [ngClass]="{ 'form-submitted': programForm.submitted }">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-row">
                        <p class="input-label">Description</p>
                        <textarea name="description"
                                  required
                                  class="input input-textarea"
                                  [(ngModel)]="programTranslation.description"
                                  [ngClass]="{ 'form-submitted': programForm.submitted }"></textarea>

                    </div>
                    <button class="button-modal-green"
                            (click)="addWeek()"
                            type="button">Add a workout week</button>
                </div>
                <div class="create-page-content-right">
                    <p class="input-label">Program image</p>
                    <gallery-item required
                                  name="programImage"
                                  [type]="'image'"
                                  [(ngModel)]="programTranslation.image"
                                  [ngClass]="{ 'form-submitted': programForm.submitted }"></gallery-item>
                    <p class="input-label">Program video</p>
                    <gallery-item name="programVideo"
                                  [type]="'video'"
                                  [(ngModel)]="programTranslation.video"></gallery-item>
                </div>
            </div>
            <div class="week-wrapper"
                 cdkDropList
                 (cdkDropListDropped)="onWeekDrop($event)">
                <week *ngFor="let week of program.weeks; let i = index;"
                      cdkDrag
                      [isDefaultLanguage]="isDefaultLanguage"
                      [week]="week"
                      [index]="i"
                      (deleteClick)="onWeekDeleteClick($event)"
                      (updated)="onWeekUpdated()">
                    <button class="button-move"
                            cdkDragHandle
                            [disabled]="!isDefaultLanguage"
                            [class.disabled]="!isDefaultLanguage"></button>
                    <div class="table-tbody-placeholder"
                         *cdkDragPlaceholder></div>
                </week>
            </div>
        </form>
    </div>
</div>