@import '../../../../styles.scss';

.modal-body {
    &-wrapper {
        @include flex(flex, column, nowrap, flex-start, flex-start);
        width: 100%;
    }

    &-options {
        @include flex(flex, row, nowrap, space-between, center);

        .search-dropdown {
            padding: 0 12px 0 24px;
            width: 350px;

            .select-input {
                width: 100%;
            }
        }
        .search-wrapper {
            width: 350px !important;
            margin-right: 0 !important;
            padding: 0 24px 12px 24px;

            .text-input {
                right: 0;
                bottom: 0;
                width: 100%;
                font-size: 14px;
            }
            label {
                left: 50px !important;
                top: 32px !important;
                width: 30px;
                position: absolute;
            }
            .button-clear {
                left: 323px !important;
                top: 38px !important;
                width: 30px;
                position: absolute;
            }
        }
    }

    &-imgs {
        @include flex(flex, row, wrap, flex-start, flex-start);
        width: 100%;
        height: 500px;
        padding: 0 24px 0px;
        overflow: auto;
    }
    &-box {
        @include flex(flex, column, nowrap, flex-start, center);
        box-shadow: 0 3px 10px 0 $color-box-shadow;
        height: 177px;
        margin-right: 16px;
        margin-bottom: 16px;
        width: 148px;

        &-img {
            @include background-image(
                '/assets/icons/error',
                png,
                cover,
                center,
                no-repeat
            );
            width: 100%;
            height: 126px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &-overlayer {
                @include flex(flex, row, nowrap, center, center);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: $color-primary-transparent-modal;
                opacity: 0;
                width: 100%;
                height: 126px;
                transition: opacity 0.3s linear;
                z-index: 10;

                .button-gallery {
                    background-color: $color-true-white;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    padding-bottom: 10px;
                    opacity: 0.7;
                    margin-right: 15px;
                    transition: opacity 0.3s linear;

                    &:hover {
                        opacity: 1;
                        transition: opacity 0.3s linear;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                &:hover {
                    opacity: 1;
                    transition: opacity 0.3s linear;
                }
            }
        }
        &-info {
            background-color: $color-background;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            border: none;
            color: $color-primary;
            font-size: 14px;
            font-weight: 400;
            height: 50px;
            margin: 0;
            padding: 15px 8px;
            text-overflow: ellipsis;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }
    }
    &-pagination {
        padding: 24px 24px 0 24px;
        width: 100%;
        text-align: center;
    }
}
