@import '../../../../styles.scss';

.modal-body {
    &-wrapper {
        @include flex(flex, column, nowrap, flex-start, flex-start);
        width: 100%;
    }

    &-options {
        @include flex(flex, row, nowrap, space-between, center);
        width: 100%;

        .search-dropdown {
            padding: 0 12px 0 24px;
            width: 100%;

            .select-input {
                width: 100%;
            }
        }
        .search-wrapper {
            width: 100% !important;
            margin-right: 0 !important;
            padding: 0 24px 12px 24px;

            .text-input {
                right: 0;
                bottom: 0;
                width: 100%;
                font-size: 14px;
            }
            label {
                left: 50px !important;
                top: 35px !important;
                width: 30px;
                position: absolute;
            }
            .button-clear {
                right: 40px !important;
                top: 35px !important;
                width: 30px;
                position: absolute;
            }
        }
    }

    &-imgs {
        @include flex(flex, row, wrap, flex-start, flex-start);
        width: 100%;
        padding: 12px 5px 0px 24px;
        overflow: auto;
    }
    &-box {
        @include flex(flex, row, nowrap, flex-start, center);
        box-shadow: 0 3px 10px 0 $color-box-shadow;
        margin-right: 16px;
        margin-bottom: 16px;
        width: 158px;

        &-overlayer {
            @include flex(flex, row, nowrap, space-between, center);
            background-color: $color-true-white;
            border-radius: 5px;
            width: 100%;
            transition: opacity 0.3s linear;

            &:hover {
                background-color: $color-primary-transparent-modal;

                .button-gallery {
                    display: flex;
                }
            }

            .button-gallery {
                background-color: $color-true-white;
                border-radius: 50%;
                @include flex(flex, row, nowrap, center, center);
                display: none;
                width: 40px;
                height: 35px;
                padding-bottom: 10px;
                opacity: 0.7;
                margin: 0;
                margin-right: 8px !important;
                transition: opacity 0.3s linear;

                &:hover {
                    opacity: 1;
                    transition: opacity 0.3s linear;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &:hover {
                opacity: 1;
                transition: opacity 0.3s linear;
            }
        }

        &-info {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            border: none;
            color: $color-primary;
            font-size: 13px;
            font-weight: 400;
            height: 50px;
            margin: 0;
            padding: 15px 8px;
            text-overflow: ellipsis;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
        }
    }
    &-pagination {
        padding: 24px 24px 0 24px;
        width: 100%;
        text-align: center;
    }
}
