<ng-template #popTemplateUserWorkoutPrograms>
    <p class="blue-text"><b>Workout Programs</b></p>
    <ul *ngIf="!loadingUserPrograms && userPrograms.length > 0">
        <li class="gray-text"
            *ngFor="let program of userPrograms"
            [routerLink]="['/program/edit', program.id]">{{program.name}}</li>
    </ul>
    <div *ngIf="!loadingUserPrograms && userPrograms.length === 0">
        <p class="gray-text">User has no programs</p>
    </div>
    <div *ngIf="loadingUserPrograms">
        <p class="gray-text">Loading...</p>
    </div>
</ng-template>

<ng-template #popTemplateUserNutritionPrograms>
    <p class="blue-text"><b>Nutrition Programs</b></p>
    <ul *ngIf="!loadingUserNutritionPrograms && userNutritionPrograms.length > 0">
        <li class="gray-text"
            *ngFor="let program of userNutritionPrograms"
            [routerLink]="['/nutrition-program/edit', program.id]">{{program.name}}</li>
    </ul>
    <div *ngIf="!loadingUserNutritionPrograms && userNutritionPrograms.length === 0">
        <p class="gray-text">User has no nutrition programs</p>
    </div>
    <div *ngIf="loadingUserNutritionPrograms">
        <p class="gray-text">Loading...</p>
    </div>
</ng-template>

<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of Users</h4>
            <div class="page-list-options">
                <label class="tub-label active"
                       disabled>List of Users</label>
                <label role="button"
                       [routerLink]="['/user/administrator']"
                       class="tub-label">List of Administrators</label>
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search users" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Program</th>
                    <th scope="col">Survey</th>
                    <th scope="col">Activated</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of list">
                    <td scope="row"
                        class="page-list-td-5">{{user.id}}</td>
                    <td class="page-list-td-5">
                        <div *ngIf="user.image"
                             class="page-list-td-image"
                             [ngStyle]="{'background-image': 'url(' + user.image.url + ')'}">
                        </div>
                        <div *ngIf="!user.image"
                             class="page-list-td-image">
                        </div>
                    </td>
                    <td class="page-list-td-60">
                        <span class="pointer"
                              [popover]="popTemplateUserBasicInfo"
                              triggers="mouseenter:mouseleave">
                            {{user.first_name}} {{user.last_name}}
                        </span>
                        <ng-template #popTemplateUserBasicInfo>
                            <div>
                                <p class="blue-text"><b>Basic info</b></p>
                                <p class="blue-text">Email:
                                    <span class="gray-text"> {{user.email}}</span>
                                </p>
                                <p class="blue-text">Phone:
                                    <span class="gray-text">{{user.phone}}</span>
                                </p>
                                <p class="blue-text">Gender:
                                    <span class="gray-text">{{user.gender}}</span>
                                </p>
                            </div>
                        </ng-template>
                    </td>
                    <td class="page-list-td-10">
                        <img class="td-icon"
                             src="/assets/icons/show-program.png"
                             triggers="click"
                             [outsideClick]="true"
                             [popover]="popTemplateUserWorkoutPrograms"
                             (click)="loadUserWorkoutPrograms(user)" />
                        <img class="td-icon nutrition"
                             [outsideClick]="true"
                             src="/assets/icons/nutrition-action-2x.png"
                             triggers="click"
                             [popover]="popTemplateUserNutritionPrograms"
                             (click)="loadUserNutritionPrograms(user)" />
                    </td>
                    <td class="page-list-td-10">
                        <ng-template #popTemplateUserInfo>
                            <div>
                                <p class="blue-text"><b>Basic info</b></p>
                                <p class="blue-text">User email:
                                    <span class="gray-text">{{user.email}}</span>
                                </p>
                                <p class="blue-text">Exercise Environment:
                                    <span class="gray-text">{{user.questionnaire.environment.name}}</span>
                                </p>
                                <p class="blue-text">Goals:
                                    <span class="gray-text">{{mapGoals(user)}}</span>
                                </p>
                                <p class="blue-text">Height:
                                    <span class="gray-text"> {{user.questionnaire.height_in_centimeters}} cm</span>
                                </p>
                                <p class="blue-text">Weight:
                                    <span class="gray-text">{{user.questionnaire.weight_in_kilograms}} kg</span>
                                </p>
                                <p class="blue-text">Created at:
                                    <span class="gray-text">{{user.questionnaire.created_at | dateFormat }}</span>
                                </p>
                                <p class="blue-text">Updated at:
                                    <span class="gray-text">{{user.questionnaire.updated_at | dateFormat }}</span>
                                </p>
                            </div>
                        </ng-template>
                        <ng-template #popTemplateNutrition>
                            <div>
                                <p class="blue-text"><b>Nutrition info</b></p>
                                <p class="blue-text">Fruits:
                                    <span
                                          class="gray-text">{{user.nutrition_questionnaire.is_fruits_like && 'Like' || "Don't like"}}</span>
                                </p>
                                <p class="blue-text">Meat:
                                    <span
                                          class="gray-text">{{user.nutrition_questionnaire.is_meat_like && 'Like' || "Don't like"}}</span>
                                </p>
                                <p class="blue-text">Veggie:
                                    <span
                                          class="gray-text">{{user.nutrition_questionnaire.is_veggie_like && 'Like' || "Don't like"}}</span>
                                </p>
                                <p class="blue-text">Description:
                                    <span class="gray-text">{{user.nutrition_questionnaire.mine_description}}</span>
                                </p>
                                <p class="blue-text">Typical day:
                                    <span class="gray-text">{{user.nutrition_questionnaire.typical_day}}</span>
                                </p>
                                <p class="blue-text">Created at:
                                    <span
                                          class="gray-text">{{user.nutrition_questionnaire.created_at | dateFormat }}</span>
                                </p>
                                <p class="blue-text">Updated at:
                                    <span
                                          class="gray-text">{{user.nutrition_questionnaire.updated_at | dateFormat }}</span>
                                </p>
                            </div>
                        </ng-template>
                        <span *ngIf="user.questionnaire"
                              class="pointer more-info"
                              [popover]="popTemplateUserInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/user.png" />
                        </span>
                        <span *ngIf="user.is_survey_completed"
                              class="pointer more-info"
                              [popover]="popTemplateNutrition"
                              triggers="mouseenter:mouseleave"
                              placement="right">
                            <img class="td-icon"
                                 src="/assets/icons/utensils-alt.png" />
                        </span>
                    </td>
                    <td class="page-list-td-10">
                        <p *ngIf="user.is_active"
                           class="badge-gray">Active</p>
                        <p *ngIf="!user.is_active"
                           class="badge-gray">Not Active</p>
                    </td>
                    <td class="page-list-td-actions">
                        <div class="page-list-td-actions-wrapper">
                            <assign-package [user]="user"></assign-package>
                            <button type="button"
                                    class="button-delete"
                                    (click)="delete(user.id)"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>