@import '../../../styles.scss';

.gallery-wrapper {
    height: 75vh;
}
.gallery-header {
    @include flex(flex, row, nowrap, space-between, baseline);
    background-color: $color-primary-transparent-no-opacity;
    padding: 24px 48px;
    width: 100%;

    .close-modal {
        cursor: pointer;
        outline: none;
        opacity: 0.7;

        &:hover{
            opacity: 1;
        }
    }
}