<div class="gallery-wrapper">
    <div class="gallery-header">
        <h4>Edit workout</h4>
        <img class="close-modal"
             (click)="bsModalRef.hide()"
             src="/assets/icons/clear.png" />
    </div>
    <workout-form (cancelClick)="onCloseClick()"
                  (updateWorkoutFinished)="onUpdateFinished($event)"></workout-form>
</div>