body {
    background-color: $color-background;
    color: $color-text;
    font-display: optional;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-normal;
    line-height: $line-height;
    overflow: hidden;
    text-align: left;
}

h1,
h2 {
    color: $color-heading;
    line-height: 1.1;
    margin: $margin 0;
}

h3,
h4,
h5,
h6 {
    color: $color-primary;
    line-height: 1.1;
    margin: $margin 0;
}
h3 {
    margin: 10px 0 10px 0;
}
h4,
h5,
h6 {
    margin: 0px 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 14px;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;

    &:link,
    &:visited {
        color: $color-link-default;
    }

    &:hover,
    &:active {
        color: $color-link-hover;
    }

    &:focus {
        outline: none;
    }
}

p {
    margin: $margin 0;
}

b,
bold,
strong {
    font-weight: $font-weight-bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-hr;
    margin: $margin auto;
    padding: 0;
}
.modal {
    background-color: $color-primary-transparent-modal;
    &-dialog {
        top: calc(50% - 250px) !important;
    }
    &-content {
        border-radius: 5px;
        border: none;
    }
    .meal-modal {
        top: 0 !important;
        max-width: 775px;
    }
}
.gallery-modal,
.workout-edit-modal,
.exercise-modal {
    max-width: 775px;
    top: 0px !important;

    .modal-content {
        background-color: $color-transparent;
        height: 100%;
        width: 100%;

        .modal-header {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .modal-body {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
.workout-edit-modal {
    max-width: 80%;

    .create-page-headline {
        justify-content: flex-end!important;
    }
    .create-page-title {
        display: none!important;
    }
    .create-page-content-left {
        width: 100%!important;
    }
    .drag-list-container {
        width: 100%!important;
    }
}
progressbar {
    .bg-warning {
        background: none;
        background-color: $color-primary-1 !important;
    }
}
