.button {
    &-green {
        background-image: linear-gradient(to right,
                $color-primary-1,
                $color-primary-2);
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: $color-true-white;
        padding: 10px 48px;

        &:disabled {
            background-image: linear-gradient(to right,
                    $color-primary-1-opacity,
                    $color-primary-2-opacity);
            color: $color-primary-text-opacity;
        }
    }

    &-true-green {
        background-color: $color-primary-1;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: $color-true-white;
        min-width: 140px;
        padding: 10px 48px;

        @include breakpoint(lg) {
            font-size: 12px;
            min-width: 225px;
            padding: 10px 30px;
        }
    }

    &-gray {
        background-color: $color-gray-button;
        border: none;
        color: $color-primary;
        font-size: 14px;
        font-weight: 500;
        min-width: 140px;
        padding: 10px 48px;

        @include breakpoint(lg) {
            font-size: 12px;
            min-width: 225px;
            padding: 10px 30px;
        }
    }

    &-filter {
        background-color: $color-transparent;
        border: 1px solid $color-primary;
        font-size: 14px;
        font-weight: 400;
        color: $color-primary;
        min-width: 140px;
        padding: 10px 28px;
        margin-right: 12px;

        @include breakpoint(lg) {
            font-size: 12px;
            min-width: 225px;
            padding: 10px 30px;
        }

        img {
            margin-left: 10px;
            height: 16px;
        }

        &:hover {
            background-color: $color-primary-transparent;
        }
    }

    &-status {
        &-green {
            height: 32px;
            background-color: $color-primary-1-transparent;
            border: 1px solid $color-primary-1;
            border-radius: 5px;
            padding: 0;
            color: $color-primary-1;
            min-width: 123px;

            @include breakpoint(lg) {
                font-size: 12px;
                min-width: 100px;
            }
        }

        &-gray {
            height: 32px;
            background-color: $color-primary-transparent;
            border: 1px solid $color-primary;
            border-radius: 5px;
            padding: 0;
            color: $color-primary;
            min-width: 123px;

            @include breakpoint(lg) {
                font-size: 12px;
                min-width: 100px;
            }
        }
    }

    &-save {
        color: $color-primary-1;
        margin: 0 8px 0 0;
        padding: 4px 8px;
        height: 100%;
    }

    &-edit {
        @include background-image("/../../assets/icons/edit",
            png,
            15px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;

        &:hover {
            opacity: 1;
        }

        width: 20px;
    }

    &-notification {
        @include background-image("/../../assets/icons/notification-gray",
            png,
            15px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;

        &:hover {
            opacity: 1;
        }

        width: 20px;
    }

    &-like {
        @include background-image("/../../assets/icons/like",
            png,
            18px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;

        &:hover {
            opacity: 1;
        }
    }

    &-comment {
        @include background-image("/../../assets/icons/comment",
            png,
            15px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;

        &:hover {
            opacity: 1;
        }
    }

    &-rate {
        @include background-image("/../../assets/icons/rate",
            png,
            18px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;

        &:hover {
            opacity: 1;
        }
    }

    &-delete {
        @include background-image("/../../assets/icons/delete",
            png,
            15px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;

        &:hover {
            opacity: 1;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }

    &-user {
        @include background-image("/../../assets/icons/users-all",
            png,
            18px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;
        padding-bottom: 8px;

        &:hover {
            opacity: 1;
        }
    }

    &-history {
        @include background-image("/../../assets/icons/history-icon",
            png,
            18px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0;
        padding-bottom: 0;

        &:hover {
            opacity: 1;
        }
    }

    &-add-user {
        @include background-image("/../../assets/icons/add-user",
            png,
            16px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;
        padding-bottom: 8px;

        &:hover {
            opacity: 1;
        }
    }

    &-move {
        @include background-image("/../../assets/icons/move",
            png,
            9px auto,
            center,
            no-repeat);
        opacity: 0.6;
        margin: 0 $margin;

        &:hover {
            opacity: 1;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }

    &-close {
        @include background-image("/assets/icons/clear",
            png,
            auto,
            center,
            no-repeat);
        position: relative;
        top: 0;
        margin: 0;
        background-color: $color-transparent;
        opacity: 0.6;
        width: 30px;
        height: 30px;
        transition: opacity 0.1s linear;

        &:hover {
            transition: opacity 0.5s linear;
            opacity: 1;
        }
    }

    &-clear {
        @include background-image("/assets/icons/clear",
            png,
            auto,
            center,
            no-repeat);
        position: relative;
        top: 0;
        margin: 0;
        background-color: $color-transparent;
        opacity: 0;
        width: 30px;
        height: 30px;
        transition: opacity 0.1s linear;

        &.active {
            transition: opacity 0.5s linear;
            opacity: 1;
        }
    }

    &-more-info {
        position: relative;
        right: 15px;
        width: 40px;
        height: 31px;
        margin: 0;
        padding: 0;
        background-color: $color-transparent;
    }

    &-dual-left,
    &-dual-right {
        border: 1px solid $color-table-th;
        color: $color-table-th;
        margin: 8px 0 40px;
        padding: 10px 0;
        text-align: center;
        width: 50%;

        &.disabled {
            cursor: not-allowed;
            opacity: 0.4;
        }

        @include breakpoint(lg) {
            font-size: 14px;
            margin: 8px 0 16px;
        }

        &.selected-set-type {
            background-color: $color-true-white;
            border: 1px solid $color-primary;
            color: $color-primary;
        }
    }

    &-dual-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }

    &-dual-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }

    &-modal-green {
        height: 46px;
        background-color: $color-transparent;
        border: 1px solid $color-primary-1;
        border-radius: 5px;
        padding: 10px 48px;
        color: $color-primary-1;
        min-width: 123px;

        &.disabled {
            cursor: not-allowed;
            opacity: 0.8;
        }
    }
}

.filter-checkboxes {
    display: flex;
    align-items: center;
    .checkbox-label {
        cursor: pointer;
    }

    .input-checkbox {

        &.true,
        &.false {
            cursor: pointer;
            border: 1px solid $color-primary-1;
            border-radius: 2px;
            transition: background-color 0.2s linear;
        }

        &.true {
            @include flex(flex, row, nowrap, center, center);
            @include background-image('/assets/icons/check-box',
                png,
                10px auto,
                center,
                no-repeat);
            background-color: $color-primary-1;
            transition: background-color 0.2s linear;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }
}

.checkbox {
    border: 1px solid $color-true-white;
    border-radius: 1px;
    height: 18px;
    width: 18px;

    &-label {
        font-size: 14px;
        margin: 0 10px;
        color: $color-gray;
    }
}

.pagination {
    @include flex(flex, row, nowrap, center, center);

    .page-item {
        &.disabled .page-link {
            color: $color-gray;
        }

        &.active .page-link {
            background-color: $color-primary-1;
            border-color: $color-primary-1;
        }
    }

    .page-link {
        padding: 10px 20px;

        @include breakpoint(lg) {
            padding: 10px 16px;
            font-size: 12px;
        }

        &:hover {
            color: $color-primary-1;
            background-color: $color-hr;
        }
    }
}

.badge {

    &-program,
    &-blog,
    &-gray {
        p {
            border: none;
            background-color: $color-primary;
            border-radius: 20px;
            color: $color-true-white;
            cursor: pointer;
            max-width: 100px;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            padding: 5px;
        }
    }

    &-blog {
        p {
            background-color: $color-primary-1;
            color: $color-true-white;
        }
    }

    &-gray {
        p {
            background-color: $color-table-th;
            color: $color-true-white;
        }
    }
}

.pointer {
    cursor: pointer;
}
