.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.responsive-img {
    @include responsive-img();
}

.mobile-hide {
    display: block;

    @include breakpoint(xs) {
        display: none !important;
    }
}

.mobile-show {
    display: none;

    @include breakpoint(xs) {
        display: block;
    }
}

.page-wrapper {
    overflow-x: hidden;
    width: 100%;
}

.popover {
    .green-text {
        margin-top: 0;
        color: $color-primary-1;
        font-size: 15px;
        font-weight: 400;
    }

    .gray-text {
        font-size: 14px;
        color: $color-gray;
        font-weight: 300;
    }
    .blue-text {
        font-size: 14px;
        color: $color-primary;
        font-weight: 300;
    }
}
