.ng-select.select-input {
    height: 45px;
    margin: 8px 0 40px;
    outline: nene;

    &.ng-select-disabled {
        .ng-select-container,
        .ng-value-container {
            cursor: not-allowed;
        }
    }

    @include breakpoint(lg) {
        margin: 8px 0 16px;
    }

    &.ng-select-focused .ng-select-container {
        border-color: $color-table-th !important;
        box-shadow: none !important;
    }
    &.ng-select-multiple .ng-select-container {
        height: 100%;

        .ng-value-container {
            flex-wrap: nowrap;
            overflow: auto;
            padding-left: 0;

            .ng-value {
                background-color: $color-primary-transparent;
                border-radius: 5px;
                display: flex;
                padding: 6px 3px;

                .ng-value-icon {
                    border-right: none;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 14px;
                    opacity: 0.7;
                    order: 1;

                    &:hover {
                        background-color: $color-transparent;
                        opacity: 1;
                    }
                }
            }
        }
        .ng-clear-wrapper {
            margin: 0 3px 0 10px;
        }
        .ng-placeholder {
            top: 12px;
            padding-left: 10px;
        }
    }
    &.ng-select-single .ng-select-container,
    .ng-select-container {
        height: 100%;
        padding-left: 5px;

        .ng-value-container {
            font-size: 14px;

            .ng-placeholder {
                color: $color-table-th;
            }
            .ng-input {
                display: flex;
                position: relative !important;
                top: 0;
                width: auto !important;
            }
        }
    }
    .ng-arrow-wrapper {
        background-color: $color-primary-transparent;
        height: 100%;
        padding: 10px;
        padding-left: 12px;
        width: 43px;
    }
    .ng-dropdown-panel {
        margin-top: 1px;

        .ng-dropdown-panel-items .ng-option {
            background-color: $color-true-white !important;
            border-left: 4px solid $color-transparent;
            color: $color-primary;
            padding: 15px 28px;
            margin-bottom: 0;

            @include breakpoint(lg) {
                font-size: 14px;
            }

            &:hover {
                background-color: $color-box-shadow !important;
            }
            &.ng-option-selected {
                background-color: $color-box-shadow !important;
                border-left: 4px solid $color-primary-1;

                .ng-option-label {
                    font-weight: 400;
                }
                &:hover {
                    background-color: $color-box-shadow;

                    .ng-option-label {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    &.ng-invalid.ng-touched,
    &.form-submitted.ng-invalid {
        border-radius: 5px;
        border: 1px solid $color-error !important;

        .ng-select-container {
            border: none;
            border-radius: 5px;
        }
    }
}
