<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update exercise</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new exercise</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/exercise']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="exercise-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new exercise</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="exercise-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update exercise</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="exercise-form"
                  name="create"
                  #exerciseForm="ngForm"
                  (submit)="!exerciseForm.invalid && onExerciseSubmit()">
                <div class="create-page-content-left">
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Exercise name</p>
                            <input type="text"
                                   required
                                   name="title"
                                   class="input"
                                   [(ngModel)]="exerciseTranslation.name"
                                   [ngClass]="{ 'form-submitted': exerciseForm.submitted }" />
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Level (you can select multiple levels)</p>
                            <ng-select name="level"
                                       class="select-input"
                                       placeholder="Select levels"
                                       [searchable]="false"
                                       [items]="levels"
                                       [disabled]="!isDefaultLanguage"
                                       bindLabel="name"
                                       bindValue="id"
                                       [multiple]="true"
                                       [(ngModel)]="exercise.level_ids"
                                       [ngClass]="{ 'form-submitted': exerciseForm.submitted }">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Muscle group (you can select multiple muscle groups)</p>
                            <ng-select name="muscle-groups"
                                       class="select-input"
                                       required
                                       [items]="muscleGroups"
                                       [disabled]="!isDefaultLanguage"
                                       bindLabel="name"
                                       bindValue="id"
                                       [multiple]="true"
                                       [typeahead]="muscleGroupsTypeAhead"
                                       placeholder="Select muscle groups"
                                       [(ngModel)]="exercise.muscle_group_ids"
                                       (focus)="muscleGroupsTypeAhead.emit('')"
                                       [ngClass]="{ 'form-submitted': exerciseForm.submitted }">
                            </ng-select>
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Environment</p>
                            <ng-select name="environments"
                                       class="select-input"
                                       required
                                       [searchable]="false"
                                       [items]="environments"
                                       [disabled]="!isDefaultLanguage"
                                       bindLabel="name"
                                       bindValue="id"
                                       [multiple]="true"
                                       [typeahead]="environmentsTypeAhead"
                                       placeholder="Select environments"
                                       [(ngModel)]="exercise.exercise_environment_ids"
                                       (focus)="environmentsTypeAhead.emit('')"
                                       [ngClass]="{ 'form-submitted': exerciseForm.submitted }">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Exercise status</p>
                            <ng-select name="exercise-status"
                                       class="select-input"
                                       required
                                       [searchable]="false"
                                       [items]="statuses"
                                       [disabled]="!isDefaultLanguage"
                                       bindLabel="name"
                                       bindValue="value"
                                       placeholder="Select status"
                                       [(ngModel)]="exercise.is_published">
                            </ng-select>
                        </div>
                        <div class="form-row-input center">
                            <input name="exercise-is-free"
                                   class="checkbox input-checkbox"
                                   type="checkbox"
                                   [disabled]="!isDefaultLanguage"
                                   [class.true]="exercise.is_free"
                                   [class.false]="!exercise.is_free"
                                   [(ngModel)]="exercise.is_free" />
                            <span class="checkbox-label">Free exercise</span>
                        </div>
                    </div>

                    <p class="input-label">Exercise content</p>
                    <textarea required
                              name="description"
                              class="input input-textarea"
                              [(ngModel)]="exerciseTranslation.description"
                              [ngClass]="{ 'form-submitted': exerciseForm.submitted }"></textarea>

                </div>
                <div class="create-page-content-right">
                    <p class="input-label">Exercise image</p>
                    <gallery-item required
                                  name="exerciseImage"
                                  [type]="'image'"
                                  [(ngModel)]="exerciseTranslation.image"
                                  [ngClass]="{ 'form-submitted': exerciseForm.submitted }"></gallery-item>
                    <p class="input-label">Exercise video</p>
                    <gallery-item name="exerciseVideo"
                                  [type]="'video'"
                                  [(ngModel)]="exerciseTranslation.video"></gallery-item>
                </div>
            </form>
        </div>
    </div>
</div>