<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 class="create-page-title">Create new user</h4>
            <div class="create-page-options">
                <div class="side-buttons">
                    <button [routerLink]="['/user/user']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="user-form"
                            class="button-true-green">Create new user</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="user-form"
                            class="button-true-green">Update user</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="user-form"
                  name="create"
                  #userForm="ngForm"
                  (submit)="!userForm.invalid && onUserSubmit()">
                <div class="create-page-content-left">
                    <p class="input-label">First Name</p>
                    <input type="text"
                           required
                           name="first_name"
                           class="input short"
                           [(ngModel)]="user.first_name"
                           [ngClass]="{ 'form-submitted': userForm.submitted }" />
                    <p class="input-label">Last Name</p>
                    <input type="text"
                           required
                           name="last_name"
                           class="input short"
                           [(ngModel)]="user.last_name"
                           [ngClass]="{ 'form-submitted': userForm.submitted }" />
                    <p class="input-label">Email</p>
                    <input type="text"
                           required
                           name="email"
                           class="input short"
                           [(ngModel)]="user.email"
                           [ngClass]="{ 'form-submitted': userForm.submitted }" />
                    <p class="input-label">Phone</p>
                    <input type="number"
                           required
                           name="phone"
                           class="input short"
                           [(ngModel)]="user.phone"
                           [ngClass]="{ 'form-submitted': userForm.submitted }" />
                    <p class="input-label">Date of birth</p>
                    <input type="number"
                           required
                           name="date_of_birth"
                           class="input short"
                           [(ngModel)]="user.date_of_birth"
                           [ngClass]="{ 'form-submitted': userForm.submitted }" />
                    <p class="input-label">Level</p>
                    <input type="number"
                           required
                           name="level_id"
                           class="input short"
                           [(ngModel)]="user.level_id"
                           [ngClass]="{ 'form-submitted': userForm.submitted }" />
                </div>
            </form>
        </div>
    </div>
</div>