@import "../../../styles.scss";

.total-customers {
    @include flex(flex, row, wrap, flex-end, flex-end);
    margin-right: 32px;

    &-label {
        text-transform: uppercase;
        padding-right: 5px;
    }

    &-number {
        color: $color-primary;
        font-weight: 600;
    }
}
.page-list-td-actions {
    width: 95px;
}
.button-true-green {
    @include breakpoint(lg) {
        min-width: 200px;
    }
}
.filter-row-input {
    width: 19% !important;
}
.filter-row-input-number {
    width: 20%;

    .input {
        padding: 11px 10px 10px 15px;
        margin: 8px 5% 40px 0;
        width: 45%;

        @include breakpoint(lg) {
            margin: 8px 3% 16px 0;
            width: 47%;
        }
    }
}
