<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of Customers</h4>
            <div class="page-list-options">
                <button type="button"
                        class="button-filter"
                        (click)="showFilters = !showFilters">Filter by<img
                         src="../../../assets/icons/filter.png"></button>
            </div>
        </div>

        <div class="total-customers">
            <p class="total-customers-label">Total Customers:</p>
            <p class="total-customers-number">{{totalItems}}</p>
        </div>

        <div class="filter-row"
             [ngClass]="{'show-filters': showFilters, 'hide-filters': !showFilters}">
            <div class="filter-row-input">
                <p class="input-label">Levels</p>
                <ng-select name="levels"
                           class="select-input"
                           [searchable]="false"
                           [items]="levels"
                           bindLabel="name"
                           bindValue="id"
                           [multiple]="true"
                           [typeahead]="levelsTypeAhead"
                           placeholder="All levels"
                           [(ngModel)]="level_ids"
                           (focus)="levelsTypeAhead.emit('')"
                           (change)="load()">
                </ng-select>
            </div>
            <div class="filter-row-input">
                <p class="input-label">Goals</p>
                <ng-select name="goals"
                           class="select-input"
                           [searchable]="false"
                           [items]="goals"
                           bindLabel="name"
                           bindValue="id"
                           [multiple]="true"
                           [typeahead]="goalsTypeAhead"
                           placeholder="All goals"
                           [(ngModel)]="goal_ids"
                           (focus)="goalsTypeAhead.emit('')"
                           (change)="load()">
                </ng-select>
            </div>
            <div class="filter-row-input">
                <p class="input-label">Environments</p>
                <ng-select name="environments"
                           class="select-input"
                           [searchable]="false"
                           [items]="environments"
                           bindLabel="name"
                           bindValue="id"
                           [multiple]="true"
                           [typeahead]="environmentsTypeAhead"
                           placeholder="All environments"
                           [(ngModel)]="environmentIds"
                           (focus)="environmentsTypeAhead.emit('')"
                           (change)="load()">
                </ng-select>
            </div>
            <div class="filter-row-input">
                <p class="input-label">Gender</p>
                <ng-select name="genders"
                           class="select-input"
                           [searchable]="false"
                           [items]="genderOptions"
                           bindLabel="label"
                           bindValue="key"
                           [multiple]="true"
                           [typeahead]="gendersTypeAhead"
                           [(ngModel)]="gender"
                           (focus)="gendersTypeAhead.emit('')"
                           placeholder="All genders"
                           (change)="load()">
                </ng-select>
            </div>

            <div class="filter-row-input-number">
                <p class="input-label">Age</p>
                <input type="number"
                       placeholder="From"
                       name="age-from"
                       [(ngModel)]="age_from"
                       class="input"
                       (change)="load()" />
                <input type="number"
                       name="age-to"
                       placeholder="To"
                       [(ngModel)]="age_to"
                       class="input"
                       (change)="load()" />
            </div>

        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Environment</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let report of list">
                    <td scope="row"
                        class="page-list-td-15">{{report.first_name}}</td>
                    <td class="page-list-40">{{report.last_name}}</td>
                    <td class="page-list-20">{{report.level}}</td>
                    <td class="page-list-10">{{report.goals}}</td>
                    <td class="page-list-10">{{report.environment}}</td>
                    <td class="page-list-5">{{report.age}}</td>
                    <td class="page-list-5">{{report.gender}}</td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>