<ng-template #assignForm>
    <div class="assign-template">
        <div class="assign-header">
            <p class="blue-text">Assign package to {{user.email}}: </p>
            <button type="button"
                    class="button-close"
                    (click)="pop.hide()"></button>
        </div>
        <div class="assign-template-popover">
            <ng-select name="user-search"
                       class="select-input in-tooltip"
                       required
                       [items]="['Monthly', 'Yearly']"
                       placeholder="Select package to assign"
                       [(ngModel)]="package">
            </ng-select>
            <button type="button"
                    class="button-gray"
                    (click)="assignPackageToUser(pop)">Assign</button>
        </div>
    </div>
</ng-template>
<button type="button"
        class="button-add-user"
        triggers="click"
        placement="left"
        #pop="bs-popover"
        [popover]="assignForm"
        (click)="onOpen()"></button>