<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update administrator</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new administrator</h4>
            <div class="create-page-options">
                <div class="side-buttons">
                    <button [routerLink]="['/user/administrator']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="admin-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new administartor</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="admin-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update administrator</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="admin-form"
                  name="create"
                  #adminForm="ngForm"
                  (submit)="!adminForm.invalid && onAdminSubmit()">
                <div class="create-page-content-left">

                    <div class="form-row"
                         *ngIf="isEditMode">
                        <div class="form-row-input">
                            <p class="input-label-disabled">Email</p>
                            <input type="text"
                                   disabled
                                   name="email"
                                   class="input"
                                   [(ngModel)]="admin.email"
                                   [ngClass]="{ 'form-submitted': adminForm.submitted }" />
                        </div>
                    </div>

                    <div class="form-row"
                         *ngIf="!isEditMode">
                        <div class="form-row-input">
                            <p class="input-label">Email</p>
                            <input type="text"
                                   required
                                   name="email"
                                   class="input"
                                   [(ngModel)]="admin.email"
                                   [ngClass]="{ 'form-submitted': adminForm.submitted }" />
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Username</p>
                            <input type="text"
                                   required
                                   name="username"
                                   class="input"
                                   [(ngModel)]="admin.username"
                                   [ngClass]="{ 'form-submitted': adminForm.submitted }" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">First Name</p>
                            <input type="text"
                                   required
                                   name="first_name"
                                   class="input"
                                   [(ngModel)]="admin.first_name"
                                   [ngClass]="{ 'form-submitted': adminForm.submitted }" />
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Last Name</p>
                            <input type="text"
                                   required
                                   name="last_name"
                                   class="input"
                                   [(ngModel)]="admin.last_name"
                                   [ngClass]="{ 'form-submitted': adminForm.submitted }" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Gender</p>
                            <ng-select name="gender"
                                       required
                                       class="select-input"
                                       [searchable]="false"
                                       [items]="genderOptions"
                                       bindLabel="label"
                                       placeholder="Select gender"
                                       [(ngModel)]="selectedGender"
                                       [ngClass]="{ 'form-submitted': adminForm.submitted }">
                            </ng-select>
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Telephone</p>
                            <input type="text"
                                   required
                                   name="phone"
                                   class="input"
                                   [(ngModel)]="admin.phone"
                                   [ngClass]="{ 'form-submitted': adminForm.submitted }" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">New password</p>
                            <input type="password"
                                   name="password"
                                   class="input"
                                   placeholder="New password"
                                   [required]="!isEditMode"
                                   [(ngModel)]="password"
                                   [ngClass]="{ 'form-submitted': adminForm.submitted }" />
                        </div>
                        <div class="form-row-input">
                            <p class="input-label">Retype new password</p>
                            <input type="password"
                                   placeholder="Retype new password"
                                   name="re-password"
                                   class="input"
                                   [required]="!isEditMode"
                                   [(ngModel)]="passwordConfirm"
                                   [ngClass]="{ 'form-submitted': adminForm.submitted }" />
                        </div>
                    </div>
                </div>
                <div class="create-page-content-right">
                    <p class="input-label">Avatar image</p>
                    <gallery-item required
                                  name="avatarImage"
                                  [(ngModel)]="selectedAvatar"
                                  (ngModelChange)="onGallerySelected($event)"
                                  [type]="'image'"
                                  [source]="'avatar'"
                                  [ngClass]="{ 'form-submitted': adminForm.submitted }"></gallery-item>
                </div>
            </form>
        </div>
    </div>
</div>