<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update muscle group</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new muscle group</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/muscle-group']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="muscle-group-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new muscle group</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="muscle-group-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update muscle group</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="muscle-group-form"
                  name="create"
                  #muscleGroupForm="ngForm"
                  (submit)="!muscleGroupForm.invalid && onMuscleGroupSubmit()">
                <div class="create-page-content-left">
                    <div class="form-row">
                        <div class="form-row-input">
                            <p class="input-label">Muscle group name</p>
                            <input type="text"
                                   required
                                   name="title"
                                   class="input"
                                   [(ngModel)]="muscleGroupTranslation.name"
                                   [ngClass]="{ 'form-submitted': muscleGroupForm.submitted }" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>