@import '../styles.scss';

.header {
    background-color: $color-background;
    box-shadow: 15px 4px 20px -18px $color-shadow;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &-wrapper {
        @include flex(flex, row, nowrap, flex-end, center);
        padding: 10px 3%;
        width: 100%;
    }
    &-notification {
        @include flex(flex, row, nowrap, flex-end, center);
        @include background-image(
            '/assets/icons/notification-2x',
            png,
            20px auto,
            center,
            no-repeat
        );
        height: 30px;
        width: 30px;

        &-number {
            @include flex(flex, row, nowrap, center, flex-end);
            background-color: $color-primary-1;
            border: 1px solid $color-true-white;
            border-radius: 50%;
            color: $color-true-white;
            font-size: 11px;
            height: 19px;
            position: relative;
            left: 3px;
            top: -9px;
            width: 19px;
        }
    }
    &-avatar {
        @include flex(flex, row, nowrap, center, center);
        @include background-image(
            '../assets/img/avatar',
            jpeg,
            cover,
            center,
            no-repeat
        );
        border-radius: 50%;
        box-shadow: 0px 5px 15px -4px $color-shadow;
        margin: 0 15px 0 30px;
        height: 45px;
        width: 45px;
    }
    &-user {
        @include flex(flex, column, nowrap, center, flex-start);
        margin: 0 15px 0 0;
        &-fullname {
            color: $color-background-primary;
            font-size: 14px;
            font-weight: 500;
            margin: 0;
        }
        &name {
            font-size: 12px;
            font-weight: 400;
            margin: 0;
        }
    }
}

.sidebar {
    &-extended,
    &-min {
        @include flex(flex, column, nowrap, flex-start, flex-start);
        background-color: $color-primary;
        height: 100%;
        position: fixed;
        top: 0;
        width: 300px;
        left: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        z-index: 2;

        @include breakpoint(xlg) {
            width: 220px;
        }

        .sidebar-header {
            @include flex(flex, row, nowrap, space-between, center);
            padding: 40px 50px 20px 24px;
            min-height: 140px;
            width: 100%;
            &-logo {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 80px;
                width: 50px;
            }
            &-navbar {
                cursor: pointer;
                height: 22px;
                width: 22px;

                span {
                    @include flex(flex, column, nowrap, center, center);
                    background-color: $color-primary-text-opacity;
                    border: 1px solid $color-transparent;
                    border-radius: 50px;
                    margin: 4px 0;
                    height: 3px;
                    width: 100%;
                }

                &:hover {
                    span {
                        background-color: $color-true-white;
                    }
                }
            }
        }
    }
    &-menu {
        overflow: auto;
        width: 100%;
        &-wrapper {
            width: 100%;
        }
        &-item {
            @include flex(flex, row, nowrap, flex-start, center);
            border-left: 4px solid $color-transparent;
            margin: 0;
            opacity: 0.4;
            padding: 12px 20px;
            width: 100%;
            &-icon {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin: 0 15px 0 0;
                height: 20px;
                width: 20px;
            }
            &-title {
                color: $color-true-white;
                font-weight: 300;
                font-size: 14px;
                text-decoration: none;
            }

            &:hover {
                opacity: 1;
                text-decoration: none;

                .sidebar-menu-item-title {
                    font-weight: 400;
                }
            }
            &.active {
                background-color: $color-primary-darker;
                border-left: 4px solid $color-primary-1;
                opacity: 1;

                .sidebar-menu-item-title {
                    font-weight: 400;
                }
            }
        }
    }
    &-min {
        left: -100px;
        width: 100px;
        z-index: 3;

        .sidebar-header {
            justify-content: center;
            padding: 40px 30px 20px 30px;
        }
        .sidebar {
            &-menu {
                &-item {
                    padding: 12px 30px 12px 26px;
                    justify-content: center;
                    &-icon {
                        margin: 0;
                    }
                }
            }
        }
    }
    &.collapse-menu {
        .sidebar-min {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            left: 0;
        }
        .sidebar-extended {
            left: -300px;
        }
    }
}
.content {
    background-color: $color-background;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    left: 0;
    width: 100%;
    &.loged {
        top: 85px;
        left: 300px;
        height: calc(100vh - 85px);
        width: calc(100% - 300px);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        @include breakpoint(xlg) {
            left: 220px;
            width: calc(100% - 220px);
        }
    }
    &.collapsed {
        left: 100px !important;
        width: calc(100% - 100px);
    }
}
