<div *ngIf="isAuthenticated">
     <div class="header">
          <div class="header-wrapper">
               <div *ngIf="user.image"
                    [ngClass]="{'header-avatar': user.image, '': !user.image}"
                    [ngStyle]="{'background-image': 'url(' + user.image.url + ')'}"></div>
               <div class="header-user">
                    <p class="header-user-fullname">{{user.first_name}} {{user.last_name}}</p>
                    <p class="header-username">
                         <span *ngIf="user.username">@</span>{{user.username}}</p>
               </div>

               <div class="dropdown"
                    dropdown
                    placement="bottom right">
                    <button type="button"
                            id="button-alignment"
                            dropdownToggle>
                         <img src="../assets/icons/arrow-down-2x.png" />
                    </button>
                    <ul id="dropdown-alignment"
                        *dropdownMenu
                        class="dropdown-menu dropdown-menu-right"
                        role="menu"
                        aria-labelledby="button-alignment">

                         <li role="menuitem"><a class="dropdown-item"
                                 (click)="logout()">Logout</a></li>
                    </ul>
               </div>
          </div>
     </div>
</div>
<div>
     <div *ngIf="isAuthenticated">
          <div class="sidebar"
               [ngClass]="{'collapse-menu' : isCollapsed}">
               <div class="sidebar-min">
                    <div class="sidebar-header">
                         <div class="sidebar-header-navbar"
                              (click)="isCollapsed = false">
                              <span></span>
                              <span></span>
                              <span></span>
                         </div>
                    </div>
                    <div class="sidebar-menu">
                         <div class="sidebar-menu-wrapper">
                              <a [routerLink]="['/exercise']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/exercise-2x.png')"
                                        class="sidebar-menu-item-icon"></div>

                              </a>
                              <a [routerLink]="['/workout']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/workout-2x.png')"
                                        class="sidebar-menu-item-icon"></div>

                              </a>
                              <a [routerLink]="['/program']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/workout-program-2x.png')"
                                        class="sidebar-menu-item-icon"></div>

                              </a>
                              <a [routerLink]="['/goal']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/goal-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/muscle-group']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/muscle_group-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/environment']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/environment-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/level']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/level-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/meal']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/meals-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/meal-group']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/meals-group-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/nutrition-program']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/nutrition-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/review']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/review-icon-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/user']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/users-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/blog']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/blog-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/report-page']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/level-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/subscription']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/subscription-icon-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                              <a [routerLink]="['/payment']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/payment-icon-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                              </a>
                         </div>
                    </div>
               </div>
               <div class="sidebar-extended">
                    <div class="sidebar-header">
                         <div class="sidebar-header-logo"
                              style="background-image: url('../assets/img/logo.png')"></div>
                         <div class="sidebar-header-navbar"
                              (click)="isCollapsed = true">
                              <span></span>
                              <span></span>
                              <span></span>
                         </div>
                    </div>
                    <div class="sidebar-menu">
                         <div class="sidebar-menu-wrapper">

                              <a [routerLink]="['/exercise']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/exercise-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                                   <span class="sidebar-menu-item-title">Exercises</span>
                              </a>
                              <a [routerLink]="['/workout']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/workout-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                                   <span class="sidebar-menu-item-title">Workouts</span>
                              </a>
                              <a [routerLink]="['/program']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/workout-program-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                                   <span class="sidebar-menu-item-title">Workout Programs</span>
                              </a>
                              <a [routerLink]="['/goal']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/goal-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Goals</span>
                              </a>
                              <a [routerLink]="['/muscle-group']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/muscle_group-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Muscle
                                        Groups</span>
                              </a>
                              <a [routerLink]="['/environment']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/environment-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Environment</span>
                              </a>
                              <a [routerLink]="['/level']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/level-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Level</span>
                              </a>
                              <a [routerLink]="['/meal']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/meals-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Meals</span>
                              </a>
                              <a [routerLink]="['/meal-group']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/meals-group-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span class="sidebar-menu-item-title">Meal
                                        groups</span>
                              </a>
                              <a [routerLink]="['/nutrition-program']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/nutrition-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Nutrition
                                        programs</span>
                              </a>
                              <a [routerLink]="['/review']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/review-icon-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Review</span>
                              </a>
                              <a [routerLink]="['/user']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/users-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Users</span>
                              </a>
                              <a [routerLink]="['/blog']"
                                 class="sidebar-menu-item"
                                 routerLinkActive="active">
                                   <div style="background-image: url('../assets/icons/blog-2x.png')"
                                        class="sidebar-menu-item-icon"></div> <span
                                         class="sidebar-menu-item-title">Blog</span>
                              </a>
                              <a [routerLink]="['/report-page']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/level-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                                   <span class="sidebar-menu-item-title">Report Page</span>
                              </a>
                              <a [routerLink]="['/subscription']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/subscription-icon-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                                   <span class="sidebar-menu-item-title">Subscription</span>
                              </a>
                              <a [routerLink]="['/payment']"
                                 routerLinkActive="active"
                                 class="sidebar-menu-item">
                                   <div style="background-image: url('../assets/icons/payment-icon-2x.png')"
                                        class="sidebar-menu-item-icon"></div>
                                   <span class="sidebar-menu-item-title">Payment Report</span>
                              </a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="content"
     [ngClass]="{'loged' : isAuthenticated, 'collapsed' : isCollapsed}">
     <router-outlet></router-outlet>
</div>
<ng-progress></ng-progress>