<div class="login">
    <div class="container">
        <div class="login-wrapper">
            <h2 class="login-header">Reset password</h2>
            <p class="login-description">
                Enter and confirm your new password.
            </p>
            <form
                #resetForm="ngForm"
                name="forgot-password"
                (submit)="!resetForm.invalid && resetPassword()"
                class="login-form"
            >
                <input
                    name="email"
                    required
                    placeholder="Email"
                    class="text-input"
                    [ngClass]="{ 'form-submitted': resetForm.submitted }"
                    [(ngModel)]="email"
                />
                <input
                    name="verificationCode"
                    required
                    placeholder="Verification code"
                    class="text-input"
                    [ngClass]="{ 'form-submitted': resetForm.submitted }"
                    [(ngModel)]="verificationCode"
                />
                <input
                    name="newPassword"
                    required
                    placeholder="New password"
                    class="text-input"
                    type="password"
                    [ngClass]="{ 'form-submitted': resetForm.submitted }"
                    [(ngModel)]="newPassword"
                />
                <input
                    name="confirmPassword"
                    required
                    placeholder="Confirm new password"
                    class="text-input"
                    type="password"
                    [ngClass]="{ 'form-submitted': resetForm.submitted }"
                    [(ngModel)]="confirmPassword"
                />
                <button class="button button-green">Reset password</button>
            </form>
            <a [routerLink]="'/auth/login'" class="login-forgot-pass">Back</a>
        </div>
    </div>
</div>
