<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update level</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new level</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/level']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="level-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new level</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="level-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update level</button>
                </div>
            </div>
        </div>
        <div class="create-page-content">
            <form id="level-form"
                  name="create"
                  #levelForm="ngForm"
                  (submit)="!levelForm.invalid && onLevelSubmit()">
                <div class="create-page-content-left">
                    <p class="input-label">Level name</p>
                    <input type="text"
                           required
                           name="title"
                           class="input"
                           [(ngModel)]="levelTranslation.name"
                           [ngClass]="{ 'form-submitted': levelForm.submitted }" />
                    <p class="input-label">Description</p>
                    <input type="text"
                           required
                           name="description"
                           class="input"
                           [(ngModel)]="levelTranslation.description"
                           [ngClass]="{ 'form-submitted': levelForm.submitted }" />
                    <div class="counter-wrapper">
                        <p class="input-label">Order</p>
                        <counter class="counter"
                                 name="order"
                                 required
                                 [disabled]="!isDefaultLanguage"
                                 [class.disabled]="!isDefaultLanguage"
                                 [(ngModel)]="level.order"
                                 [ngClass]="{ 'form-submitted': levelForm.submitted }"></counter>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>