<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of Comments</h4>
            <div class="page-list-options">
                <label class="tub-label active">List of Comments</label>
                <label role="button"
                       [routerLink]="['/review/review']"
                       class="tub-label"
                       disabled>List of Reviews</label>
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search comments" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Published</th>
                    <th scope="col">Published date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comment of list">
                    <td class="page-list-td-5">{{comment.id}}</td>
                    <td class="page-list-td-user">
                        <img class="td-icon"
                             src="/assets/icons/user.png" />
                        <ng-template #popTemplate>
                            <div>
                                <p class="blue-text "><b>{{comment.user.first_name}} {{comment.user.last_name}}</b></p>
                                <p class="gray-text">@{{comment.user.username}}</p>
                            </div>
                        </ng-template>
                        <button type="button"
                                class="button-more-info"
                                [popover]="popTemplate"
                                triggers="mouseenter:mouseleave">
                        </button>
                    </td>
                    <td class="page-list-td-10"
                        [ngClass]="getBadgeOptions(comment).class"
                        (click)="goTo(comment)">
                        <p>{{getBadgeOptions(comment).label}}</p>
                    </td>
                    <td class="page-list-td-shorter-text">
                        <p>{{getBadgeName(comment)}}</p>
                    </td>
                    <td class="page-list-td-shorter-text">
                        <p>{{comment.comment}}</p>
                        <button type="button"
                                class="button-more-info"
                                popover={{comment.comment}}
                                triggers="mouseenter:mouseleave">
                        </button>
                    </td>
                    <td class="page-list-td-15">
                        <button *ngIf="comment.is_published"
                                type="button"
                                (click)="publishComment(comment)"
                                class="button-status-green">Published</button>
                        <button *ngIf="!comment.is_published"
                                type="button"
                                (click)="publishComment(comment)"
                                class="button-status-gray">Unpublished</button>
                    </td>
                    <td class="page-list-td-15">{{comment.published_at | dateFormat }}</td>
                </tr>
            </tbody>
        </table>
        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>
</div>