@import '../../../../styles.scss';

.counter {
    &-wrapper {
        @include flex(flex, row, nowrap, flex-start, stretch);
        margin: 8px 0 40px;
        border-radius: 4px;

        @include breakpoint(lg) {
            margin: 8px 0 16px;
        }
    }
    &-minus,
    &-plus {
        background-color: $color-primary-transparent;
        margin: 0;
        height: 45px;
        width: 43px;
    }
    &-minus {
        @include background-image(
            '/assets/icons/minus',
            png,
            12px auto,
            center,
            no-repeat
        );
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid $color-table-th;
        border-right: none;
    }
    &-plus {
        @include background-image(
            '/assets/icons/plus-counter',
            png,
            12px auto,
            center,
            no-repeat
        );
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border: 1px solid $color-table-th;
        border-left: none;
    }
    &-button {
        margin: 0;
        padding: 0;
        text-align: center;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ng-invalid.ng-touched,
.form-submitted.ng-invalid {
    &.counter .counter-wrapper .counter-minus,
    &.counter .counter-wrapper .counter-button,
    &.counter .counter-wrapper .counter-plus {
        border: none;
    }
}
