@import '../../../styles.scss';

.gallery-body {
    &-wrapper {
        @include flex(flex, column, nowrap, flex-start, flex-start);
    }
    &-progress {
        &-label {
            padding: 0 48px;
            width: 100%;
            text-align: right;
            font-size: 14px;
            font-weight: 400;
        }

        &-bar {
            margin-left: 24px;
            height: 8px;
            width: 90%;
        }
    }

    &-imgs {
        @include flex(flex, row, wrap, flex-start, flex-start);
        width: 100%;
        height: 500px;
        padding: 24px 24px;
        overflow: auto;

        .selected {
            .gallery-body-box {
                box-shadow: 0px -1px 20px 5px $color-gray;
            }
        }
        &-add {
            @include flex(flex, row, wrap, center, flex-end);
            font-size: 50px;
            cursor: pointer;
            box-shadow: 0 3px 10px 0 $color-box-shadow;
            color: $color-gray;
            background-color: $color-true-white;
            border: dashed 2px $color-table-th;
            border-radius: 5px;
            margin-right: 16px;
            margin-bottom: 16px;
            height: 175px;
            width: 148px;

            &-plus {
                margin-top: 44px;
            }
            &-text {
                font-weight: 300;
                font-size: 14px;
                margin: 16px 0 8px;
            }
            &-size {
                font-weight: 300;
                font-size: 11px;
                margin: 0;
                padding-bottom: 16px;
            }
            &:hover {
                background-color: $color-primary;
                transition: background-color 0.3s linear;
                border-color: $color-true-white;
            }
        }
    }
    &-box {
        @include flex(flex, column, nowrap, flex-start, center);
        box-shadow: 0 3px 10px 0 $color-box-shadow;
        margin-right: 16px;
        margin-bottom: 16px;
        width: 148px;

        &-img {
            @include background-image(
                '../../../assets/icons/error',
                png,
                cover,
                center,
                no-repeat
            );
            width: 100%;
            height: 126px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &-overlayer {
                @include flex(flex, row, nowrap, center, center);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: $color-primary-transparent-modal;
                opacity: 0;
                width: 100%;
                height: 126px;
                transition: opacity 0.3s linear;
                z-index: 10;

                .button-gallery {
                    background-color: $color-true-white;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    padding-bottom: 10px;
                    opacity: 0.7;
                    margin-right: 15px;
                    transition: opacity 0.3s linear;

                    &:hover {
                        opacity: 1;
                        transition: opacity 0.3s linear;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                &:hover {
                    opacity: 1;
                    transition: opacity 0.3s linear;
                }
            }
            &.video {
                background-image: none;

                .gallery-body-box-img-overlayer {
                    position: relative;
                    top: 0;

                    .button-gallery {
                        padding: 8px;
                        height: 30px;
                        width: 30px;

                        img {
                            bottom: 3px;
                            position: relative;
                            left: 1px;
                        }
                    }
                }
                .gallery-body-box-img {
                    top: -126px;
                    position: relative;
                }
            }
        }
        &-info {
            @include flex(flex, row, nowrap, center, center);
            background-color: $color-background;
            width: 100%;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;

            .button-edit {
                opacity: 0;
            }
            .gallery-item-editing {
                padding: 0 38px 0 36px;
            }

            &:hover {
                .button-edit {
                    opacity: 1;
                }
            }

            &-name {
                border: none;
                cursor: text;
                color: $color-primary;
                font-size: 14px;
                font-weight: 400;
                height: 50px;
                margin: 0;
                padding: 0 8px 0 36px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                text-align: center;

                &::selection {
                    background: $color-blue;
                    color: $color-true-white;
                }
            }
        }
    }
    &-pagination {
        padding: 24px 24px 0 24px;
        width: 100%;
        text-align: center;
    }
}

.search-wrapper {
    width: 100% !important;
    margin-right: 0 !important;
    padding: 0 24px 12px 24px;

    .text-input {
        right: 0;
        bottom: 0;
        width: 50%;
        font-size: 14px;
    }
    label {
        left: 48px;
        top: 108px;
        width: 30px;
        position: absolute;
    }
    .button-clear {
        right: 50%;
        top: 108px;
        width: 30px;
        position: absolute;
    }
}
