<div class="input-pause">
    <div class="input-pause-wrapper">
        <p class="input-pause-label">Rest time</p>
        <counter class="input counter-button"
                 required
                 [disabled]="!isDefaultLanguage"
                 [class.disabled]="!isDefaultLanguage"
                 [name]="'set-' + setIndex + '-duration-in-seconds-' + itemIndex"
                 [step]="5"
                 [minValue]="0"
                 [(ngModel)]="item.durationInSeconds"></counter>
        <div class="options">
            <button type="button"
                    [disabled]="!isDefaultLanguage"
                    [class.disabled]="!isDefaultLanguage"
                    class="button-delete width-10"
                    (click)="onDeleteClick()"></button>
            <ng-content></ng-content>
        </div>
    </div>
</div>