@import '../../../../styles.scss';
@import '../../form/form.component.scss';

.input-pause {
    @include flex(flex, column, nowrap, flex-start, flex-start);
    width: 100%;

    &-wrapper {
        @include flex(flex, row, nowrap, space-between, center);
        width: 100%;

        counter {
            margin: 0 !important;
            width: 140px;

            &.disabled {
                cursor: not-allowed;
                opacity: 0.8;
            }
        }
        .options {
            width: 30%;
            text-align: right;
            @include breakpoint(lg) {
                button {
                    margin: 0;
                }
            }
        }
    }
    &-label {
        color: $color-primary;
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        width: 35%;

        @include breakpoint(lg) {
            font-size: 12px;
        }
    }
}
