<ng-template #popTemplateNutritionProgramUsers>
    <p class="blue-text"><b>Subscribed Users</b></p>
    <ul *ngIf="!loadingNutritionProgramUsers && nutritionProgramUsers.length > 0">
        <li class="gray-text"
            *ngFor="let user of nutritionProgramUsers">{{user.first_name}} {{user.last_name}}</li>
    </ul>
    <div *ngIf="!loadingNutritionProgramUsers && nutritionProgramUsers.length === 0">
        <p class="gray-text">Nutrition program has no users</p>
    </div>
    <div *ngIf="loadingNutritionProgramUsers">
        <p class="gray-text">Loading...</p>
    </div>
</ng-template>

<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of nutrition programs</h4>
            <div class="page-list-options">
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search nutrition programs" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
                <button type="button"
                        [routerLink]="['/nutrition-program/create']"
                        class="button-true-green">Create nutrition program</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Activations</th>
                    <th scope="col">Published</th>
                    <th scope="col">Review</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nutritionProgram of list">
                    <td scope="row"
                        class="page-list-td-50">{{nutritionProgram.name}}</td>
                    <td class="page-list-td-5">{{nutritionProgram.activated_count}}</td>
                    <td class="page-list-td-20">
                        <button *ngIf="nutritionProgram.is_published"
                                type="button"
                                (click)="publish(nutritionProgram)"
                                class="button-status-green">Published</button>
                        <button *ngIf="!nutritionProgram.is_published"
                                type="button"
                                (click)="publish(nutritionProgram)"
                                class="button-status-gray">Draft</button>
                    </td>
                    <td class="page-list-td-25">
                        <button type="button"
                                class="button-like"
                                triggers="mouseenter:mouseleave"
                                popover="Likes: {{nutritionProgram.like_count}}"></button>
                        <button type="button"
                                class="button-rate"
                                triggers="mouseenter:mouseleave"
                                popover="Avg. rate: {{nutritionProgram.avg_rating}}"></button>
                        <button type="button"
                                class="button-comment"
                                triggers="mouseenter:mouseleave"
                                popover="Comments: {{nutritionProgram.comment_count}}"></button>
                        <button type="button"
                                class="button-user"
                                triggers="click"
                                [outsideClick]="true"
                                [popover]="popTemplateNutritionProgramUsers"
                                (click)="loadNutritionProgramUsers(nutritionProgram)"></button>
                    </td>
                    <td class="page-list-td-options">
                        <div class="page-list-td-actions-wrapper">
                            <button type="button"
                                    class="button-notification"
                                    (click)="notify(nutritionProgram.id)"></button>
                            <a type="button"
                               class="button-edit"
                               target="_blank"
                               [routerLink]="['/nutrition-program/edit/', nutritionProgram.id]"></a>
                            <app-assign-nutrition-program [nutritionProgram]="nutritionProgram">
                            </app-assign-nutrition-program>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>