<div class="modal-header">
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="cancel()">
        <img src="../../../assets/icons/clear.png" />
    </button>
</div>
<div class="modal-body">
    <p>{{title}}</p>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-default"
            (click)="cancel()">{{cancelBtnName}}</button>
    <button type="button"
            class="btn btn-default"
            (click)="confirm()">{{confirmBtnName}}</button>
</div>