@import '../../../styles.scss';

.modal {
    &-header {
        background-color: $color-gray-button;
        border-bottom: none;
        .close {
            opacity: 1;
            img {
                bottom: 5px;
                position: relative;
            }
        }
    }
    &-body {
        p {
            font-size: 17px;
            font-weight: 300;
            color: $color-primary;
            text-align: center;
        }
    }
    &-footer {
        @include flex(flex, row, nowrap, center, center);
        border-top: none;
        button {
            background-color: $color-gray-button;
            padding: 0 35px;
            margin: 0 10px;
            font-size: 13px;
            color: $color-primary;
            opacity: 1;

            &:hover {
                font-weight: 500;
            }
            &:first-child {
                background-color: $color-transparent;
            }
        }
    }
}
