<div class="login">
    <div class="container">
        <div class="login-wrapper">
            <h2 class="login-header">Forgot password</h2>
            <p class="login-description">Reset your forgot-password</p>
            <form
                #forgotForm="ngForm"
                name="forgot-password"
                (submit)="!forgotForm.invalid && requestOneTimePassword()"
                class="login-form"
            >
                <p class="login-description text-center">
                    Enter your e-mail address and click Reset password. We will
                    send you an e-mail with further instructions.
                </p>
                <input
                    name="email"
                    required
                    placeholder="Email"
                    class="text-input"
                    [ngClass]="{ 'form-submitted': forgotForm.submitted }"
                    [(ngModel)]="email"
                />
                <button class="button button-green">Reset password</button>
            </form>
            <a [routerLink]="'/auth/login'" class="login-forgot-pass">Back</a>
        </div>
    </div>
</div>
