@import './../../../styles.scss';

.create-page-content {
    display: flex;

    &-left-wrapper {
        margin-right: 32px;
        width: 70%;
    }
    &-left {
        margin-bottom: 24px;
        width: 100%;

        &.meal-group {
            @include flex(flex, column, nowrap, flex-start, flex-start);
            margin-bottom: 8px;
            padding: 8px 32px 16px 32px;
            width: 100%;

            &.colapsed-group {
                padding: 8px 32px 0 32px;
                .colapsed {
                    display: none;
                }
            }

            .meal-group-header {
                @include flex(flex, row, nowrap, space-between, center);
                padding-bottom: 8px;
                width: 100%;

                h4 {
                    font-size: 17px;
                }
            }
            .meal-group-body {
                @include flex(flex, column, nowrap, flex-start, flex-start);
                position: relative;
                left: -32px;
                width: calc(100% + 64px);

                &-title {
                    @include flex(flex, row, nowrap, space-between, center);
                    border-top: 1px solid $color-table-th;
                    padding: 8px 32px 8px 32px;
                    width: 100%;

                    h4,
                    button {
                        padding: 0;
                        margin: 0;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                &-item {
                    @include flex(flex, row, nowrap, space-between, center);
                    border-top: 1px solid $color-table-th;
                    padding: 8px 32px 8px 32px;
                    width: 100%;

                    h4 {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            .meal-group-footer {
                @include flex(flex, row, nowrap, center, center);
                border-top: 1px solid $color-table-th;
                padding-top: 16px;
                position: relative;
                left: -32px;
                width: calc(100% + 64px);
            }
        }
    }
    &-right {
        height: 100%;
    }
}
.form-row-input {
    margin-right: 0;
}
.ingredients-list,
.recipe-steps {
    border-top: 1px solid $color-table-th;
    padding: 32px;
    left: -32px;
    position: relative;
    width: calc(100% + 64px);

    .input-label.title {
        font-size: 15px;
        margin-bottom: 22px;
    }
    .ingredients-row,
    .step-row {
        @include flex(flex, row, nowrap, flex-start, center);

        .input {
            margin: 8px 0 8px;
        }
    }
}
.modal.show .modal-dialog {
    top: 0;
}
