<div class="create-page">
    <div class="create-page-wrapper">
        <div class="create-page-headline">
            <h4 *ngIf="isEditMode"
                class="create-page-title">Update nutrition program</h4>
            <h4 *ngIf="!isEditMode"
                class="create-page-title">Create new nutrition program</h4>
            <div class="create-page-options">
                <languages [(ngModel)]="selectedLanguageId"></languages>
                <div class="side-buttons">
                    <button [routerLink]="['/nutrition-program']"
                            type="button"
                            class="button-gray">Cancel</button>
                    <button *ngIf="!isEditMode"
                            type="submit"
                            form="nutrition-program-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Create new nutrition program</button>
                    <button *ngIf="isEditMode"
                            type="submit"
                            form="nutrition-program-form"
                            class="button-true-green"
                            [disabled]="isDisabled">Update nutrition program</button>
                </div>
            </div>
        </div>
        <form id="nutrition-program-form"
              name="create"
              #nutritionProgramForm="ngForm"
              (submit)="!nutritionProgramForm.invalid && onNutritionProgramSubmit()">
            <div class="create-page-content">
                <div class="create-page-content-left-wrapper">
                    <div class="create-page-content-left">
                        <div class="form-row">
                            <div class="form-row-input">
                                <p class="input-label">Nutrition program name</p>
                                <input type="text"
                                       required
                                       name="title"
                                       class="input"
                                       [(ngModel)]="nutritionProgramTranslation.name"
                                       [ngClass]="{ 'form-submitted': nutritionProgramForm.submitted }" />
                            </div>
                            <div class="form-row-input">
                                <p class="input-label">Program length (in weeks)</p>
                                <counter class="counter"
                                         required
                                         name="programLength"
                                         required
                                         [step]="1"
                                         [maxValue]="7"
                                         [minValue]="1"
                                         [disabled]="!isDefaultLanguage"
                                         [class.disabled]="!isDefaultLanguage"
                                         [(ngModel)]="nutritionProgram.program_length"
                                         [ngClass]="{ 'form-submitted': nutritionProgramForm.submitted }"></counter>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row-input">
                                <p class="input-label">Goal (you can select multiple goals)</p>
                                <ng-select name="goals"
                                           class="select-input"
                                           required
                                           placeholder="Select goals"
                                           bindLabel="name"
                                           bindValue="id"
                                           [searchable]="true"
                                           [items]="goals"
                                           [disabled]="!isDefaultLanguage"
                                           [multiple]="true"
                                           [typeahead]="goalsTypeAhead"
                                           [(ngModel)]="nutritionProgram.goal_ids"
                                           (focus)="goalsTypeAhead.emit('')"
                                           [ngClass]="{ 'form-submitted': nutritionProgramForm.submitted }">
                                </ng-select>
                            </div>
                            <div class="form-row-input-double">
                                <div class="form-row-input width-60">
                                    <p class="input-label">Program status</p>
                                    <ng-select name="program-status"
                                               class="select-input"
                                               required
                                               [searchable]="false"
                                               [items]="statuses"
                                               [disabled]="!isDefaultLanguage"
                                               bindLabel="name"
                                               bindValue="value"
                                               placeholder="Select status"
                                               [(ngModel)]="nutritionProgram.is_published"
                                               [ngClass]="{ 'form-submitted': nutritionProgramForm.submitted }">
                                    </ng-select>
                                </div>
                                <div class="form-row-input center width-30">
                                    <input name="program-is-free"
                                           class="checkbox input-checkbox"
                                           type="checkbox"
                                           [disabled]="!isDefaultLanguage"
                                           [class.true]="nutritionProgram.is_free"
                                           [class.false]="!nutritionProgram.is_free"
                                           [(ngModel)]="nutritionProgram.is_free" />
                                    <span class="checkbox-label">Free program</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <p class="input-label">Description</p>
                            <textarea name="description"
                                      required
                                      class="input input-textarea"
                                      [(ngModel)]="nutritionProgramTranslation.description"
                                      [ngClass]="{ 'form-submitted': nutritionProgramForm.submitted }"></textarea>

                        </div>
                        <div class="form-row">
                            <div class="form-row-input">
                                <p class="input-label">Meal group</p>
                                <ng-select name="meal-group"
                                           class="select-input"
                                           placeholder="Select meal group"
                                           bindLabel="name"
                                           [searchable]="true"
                                           [items]="mealGroups"
                                           [disabled]="!isDefaultLanguage"
                                           [typeahead]="mealGroupsTypeAhead"
                                           [(ngModel)]="selectedMealGroup"
                                           (focus)="mealGroupsTypeAhead.emit('')">
                                </ng-select>
                            </div>
                        </div>
                        <button type="button"
                                class="button-modal-green"
                                (click)="onAddMealGroupClick()">Add meal group</button>
                    </div>
                    <div cdkDropList
                         (cdkDropListDropped)="onMealGroupDrop($event)">
                        <meal-group *ngFor="let group of nutritionProgram.groups"
                                    cdkDrag
                                    [group]="group"
                                    [isDefaultLanguage]="isDefaultLanguage"
                                    (deleteMealGroup)="deleteMealGroup($event)">
                            <button type="button"
                                    class="button-move"
                                    cdkDragHandle
                                    [disabled]="!isDefaultLanguage"
                                    [class.disabled]="!isDefaultLanguage"></button>
                            <div class="table-tbody-placeholder"
                                 *cdkDragPlaceholder></div>
                        </meal-group>
                    </div>
                </div>
                <div class="create-page-content-right">
                    <p class="input-label">Nutrition program image</p>
                    <gallery-item required
                                  name="exerciseImage"
                                  [type]="'image'"
                                  [(ngModel)]="nutritionProgramTranslation.image"
                                  [ngClass]="{ 'form-submitted': nutritionProgramForm.submitted }"></gallery-item>
                    <p class="input-label">Nutrition program video</p>
                    <gallery-item name="exerciseVideo"
                                  [type]="'video'"
                                  [(ngModel)]="nutritionProgramTranslation.video"></gallery-item>
                </div>
            </div>
        </form>
    </div>
</div>