<div class="modal-wrapper">
    <div class="modal-header">
        <h4>Add an exercise</h4>
        <img class="close-modal"
             (click)="bsModalRef.hide()"
             src="/assets/icons/clear.png" />
    </div>
    <modal-body class="modal-body"
                (itemSelected)="select($event)"></modal-body>
</div>