@import "./../../../styles.scss";
@import "../../shared/components/languages/languages.component.scss";

.modal-header {
    border-bottom: none;
    padding-bottom: 0.2rem;
}
.history-payment {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        color: $color-gray;
        margin-left: 6px;
    }
}

.more-info .td-icon {
    margin-right: 10px;
    opacity: 0.6;
    cursor: pointer;
    width: 22px;
    bottom: 0 !important;
    left: 0px !important;

    &:hover {
        opacity: 1;
    }
    @include breakpoint(xlg) {
        width: 20px;
    }
}
