<ng-template #popTemplatePaymentHistory>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Payment History</h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table"
               *ngIf="!loadingPaymentTransactions && transactions.data.length > 0">
            <thead>
                <tr>
                    <th scope="col">Transaction id</th>
                    <th scope="col">Package Name</th>
                    <th scope="col">Created/Updated</th>
                    <th scope="col">Method</th>
                    <th scope="col">Status</th>
                    <th scope="col">Charged</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of transactions.data">
                    <td scope="row"
                        class="page-list-td-30">{{payment.transaction_id}}</td>
                    <td scope="row"
                        class="page-list-td-10">{{payment.package_name}}</td>
                    <td class="page-list-10">
                        {{payment.created_at | dateFormat}}<br>{{payment.updated_at | dateFormat}}</td>
                    <td class="page-list-10">{{payment.method}}</td>
                    <td class="page-list-10">{{payment.status}}</td>
                    <td class="page-list-10">{{payment.charged_value}} {{payment.currency_code}}</td>
                    <td class="page-list-5">
                        <span *ngIf="payment.method === 'AP'"
                              class="pointer more-info"
                              [popover]="paymentExtraInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/apple-pay.png" />
                        </span>
                        <span *ngIf="payment.method === 'GP'"
                              class="pointer more-info"
                              [popover]="paymentExtraInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/google-pay.png" />
                        </span>
                        <span *ngIf="payment.method === 'SMS'"
                              class="pointer more-info"
                              [popover]="paymentExtraInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/sms-pay.png" />
                        </span>
                        <span *ngIf="payment.method === 'CC'"
                              class="pointer more-info"
                              [popover]="paymentExtraInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/payment-more-info-2x.png" />
                        </span>
                        <ng-template #paymentExtraInfo>
                            <div>
                                <p *ngIf="payment.details"
                                   class="blue-text"><b>Payment info</b></p>
                                <p *ngIf="!payment.details"
                                   class="gray-text">There is no payment info.</p>
                                <div *ngFor="let item of payment.details | keyvalue">
                                    <p class="blue-text">{{item.key}}: <span class="gray-text">{{item.value}}</span></p>
                                </div>
                            </div>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!loadingPaymentTransactions && transactions.data.length === 0">
            <p class="gray-text">No other payment transaction</p>
        </div>
        <div *ngIf="loadingPaymentTransactions">
            <p class="gray-text">Loading...</p>
        </div>
    </div>
</ng-template>

<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of Payment Transactions</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Transaction id</th>
                    <th scope="col">Package Name</th>
                    <th scope="col">Created/Updated</th>
                    <th scope="col">Method</th>
                    <th scope="col">Status</th>
                    <th scope="col">Number of <br>history items</th>
                    <th scope="col">Charged</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of list">
                    <td scope="row"
                        class="page-list-td-30">{{payment.transaction_id}}</td>
                    <td scope="row"
                        class="page-list-td-10">{{payment.package_name}}</td>
                    <td class="page-list-10">
                        {{payment.created_at | dateFormat}}<br>{{payment.updated_at | dateFormat}}</td>
                    <td class="page-list-10">{{payment.method}}</td>
                    <td class="page-list-10">{{payment.status}}</td>
                    <td class="page-list-15 history-payment">
                        <button type="button"
                                class="button-history"
                                (click)="loadPaymentHistory(popTemplatePaymentHistory, payment.transaction_id)">
                        </button>
                        <span>{{payment.number_of_history_items}}</span>
                    </td>
                    <td class="page-list-10">{{payment.charged_value}} {{payment.currency_code}}</td>
                    <td class="page-list-5">
                        <span *ngIf="payment.method === 'AP'"
                              class="pointer more-info"
                              [popover]="paymentInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/apple-pay.png" />
                        </span>
                        <span *ngIf="payment.method === 'GP'"
                              class="pointer more-info"
                              [popover]="paymentInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/google-pay.png" />
                        </span>
                        <span *ngIf="payment.method === 'SMS'"
                              class="pointer more-info"
                              [popover]="paymentInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/sms-pay.png" />
                        </span>
                        <span *ngIf="payment.method === 'CC'"
                              class="pointer more-info"
                              [popover]="paymentInfo"
                              triggers="mouseenter:mouseleave"
                              placement="left">
                            <img class="td-icon"
                                 src="/assets/icons/payment-more-info-2x.png" />
                        </span>
                        <ng-template #paymentInfo>
                            <div>
                                <p *ngIf="payment.details"
                                   class="blue-text"><b>Payment info</b></p>
                                <p *ngIf="!payment.details"
                                   class="gray-text">There is no payment info.</p>
                                <div *ngFor="let item of payment.details | keyvalue">
                                    <p class="blue-text">{{item.key}}: <span class="gray-text">{{item.value}}</span></p>
                                </div>
                            </div>
                        </ng-template>
                    </td>

                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>