<div class="meal-wrapper">
    <div class="create-page-content-left meal-group"
         [class.colapsed-group]="isCollapsed">
        <div class="meal-group-header"
             (click)="isCollapsed = !isCollapsed">
            <h4>{{group.meal_group.name}}</h4>
            <div class="option">
                <button type="button"
                        class="button-delete"
                        (click)="onDeleteGroupClick()"
                        [disabled]="!isDefaultLanguage"
                        [class.disabled]="!isDefaultLanguage"></button>
                <ng-content></ng-content>
            </div>
        </div>
        <div class="meal-group-body"
             [class.colapsed]="isCollapsed"
             cdkDropList
             (cdkDropListDropped)="onMealItemDrop($event)">
            <div class="meal-group-body-title">
                <p class="title">Name</p>
                <p class="title">Actions</p>
            </div>
            <div cdkDrag
                 class="meal-group-body-item"
                 *ngFor="let meal of group.meals">
                <h4>{{meal.name}}</h4>
                <div class="option">
                    <button type="button"
                            class="button-delete"
                            (click)="deleteMeal(group, meal)"
                            [disabled]="!isDefaultLanguage"
                            [class.disabled]="!isDefaultLanguage"></button>
                    <button cdkDragHandle
                            type="button"
                            class="button-move"
                            [disabled]="!isDefaultLanguage"
                            [class.disabled]="!isDefaultLanguage"></button>
                </div>
                <div class="table-tbody-placeholder"
                     *cdkDragPlaceholder></div>
            </div>
        </div>
        <div class="meal-group-footer"
             [class.colapsed]="isCollapsed">
            <button type="button"
                    class="button-modal-green"
                    (click)="addMeal(group)"
                    [disabled]="!isDefaultLanguage"
                    [class.disabled]="!isDefaultLanguage">Add a meal</button>
        </div>
    </div>
</div>