@import './../../../../styles.scss';

.meal-group {
    @include flex(flex, column, nowrap, flex-start, flex-start);
    margin-bottom: 8px;
    padding: 8px 32px 16px 32px;
    width: 100%;

    &.colapsed-group {
        padding: 8px 32px 0 32px;
        .colapsed {
            display: none;
        }
    }

    .meal-group-header {
        @include flex(flex, row, nowrap, space-between, center);
        padding-bottom: 8px;
        width: 100%;

        h4 {
            font-size: 17px;
        }
    }
    .meal-group-body {
        @include flex(flex, column, nowrap, flex-start, flex-start);
        position: relative;
        left: -32px;
        width: calc(100% + 64px);

        &-title {
            @include flex(flex, row, nowrap, space-between, center);
            border-top: 1px solid $color-table-th;
            padding: 8px 32px 8px 32px;
            width: 100%;

            .title {
                color: $color-primary;
                margin: 8px 0;
                font-size: 14px;
                font-weight: 500;
            }
        }
        &-item {
            @include flex(flex, row, nowrap, space-between, center);
            border-top: 1px solid $color-table-th;
            padding: 8px 32px 8px 32px;
            width: 100%;

            h4 {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    .meal-group-footer {
        @include flex(flex, row, nowrap, center, center);
        border-top: 1px solid $color-table-th;
        padding-top: 16px;
        position: relative;
        left: -32px;
        width: calc(100% + 64px);
    }
}
.cdk-drag-preview {
    @include flex(flex, row, nowrap, space-between, center);
    h4 {
        padding: 8px 32px 8px 32px;
        font-size: 14px;
        font-weight: 400;
    }
    .option {
        padding: 8px 32px 8px 32px;
    }
}
