<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of muscle group</h4>
            <div class="page-list-options">
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search muscle groups" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
                <button type="button"
                        [routerLink]="['/muscle-group/create']"
                        class="button-true-green">Create muscle group</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Muscle group name</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let muscleGroup of list">
                    <td scope="row"
                        class="page-list-td-73">{{muscleGroup.name}}</td>
                    <td class="page-list-td-20 slug">{{muscleGroup.slug}}</td>
                    <td class="page-list-td-actions">
                        <div class="page-list-td-actions-wrapper">
                            <a type="button"
                               class="button-edit"
                               target="_blank"
                               [routerLink]="['/muscle-group/edit/', muscleGroup.id]"></a>
                            <button type="button"
                                    class="button-delete"
                                    (click)=delete(muscleGroup.id)></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>