@import '../../../styles.scss';

.week {
    margin-top: 8px;
    padding: 0;
    width: 100%;

    &.colapsed-header {
        padding-bottom: 0;

        &:hover {
            box-shadow: 0px 0px 13px -10px $color-shadow;
        }

        .week-header {
            border: none;
        }
    }

    &-header {
        @include flex(flex, row, nowrap, space-between, center);
        cursor: pointer;
        border-bottom: 1px solid $color-box-shadow;
        padding: 8px 32px;

        &-title {
            color: $color-primary;
            font-size: 15px;
            font-weight: 500;
        }
        &-options {
            .button-delete {
                background-size: 14px auto;
                margin-right: 8px;
            }
            .button-move {
                background-size: 8px auto;
                margin-right: 0;
            }
        }
    }

    &-table {
        @include flex(flex, column, nowrap, flex-start, flex-start);

        &-drag-list-container {
            @include flex(flex, column, nowrap, flex-start, flex-start);
            width: 100%;
        }
        &-thead {
            @include flex(flex, row, nowrap, space-between, center);
            border-bottom: 1px solid $color-box-shadow;
            padding: 22px 32px;
            margin: 0;
            width: 100%;

            &-th {
                color: $color-primary;
                font-size: 14px;
                font-weight: 500;
                padding: 0;
                margin: 0;

                @include breakpoint(xlg) {
                    font-size: 13px;
                }
            }
            .width-70 {
                width: 70%;
            }
            .group {
                @include flex(flex, row, nowrap, space-between, flex-start);
                width: 20%;
            }
        }
        &-tbody {
            @include flex(flex, column, nowrap, flex-start, flex-start);
            border-bottom: 1px solid $color-box-shadow;
            margin: 0;
            width: 100%;
            height: 65px;

            &.rest {
                background-color: $color-primary-transparent;
            }
            &:hover {
                box-shadow: 0px 0px 13px -10px $color-shadow;
            }

            &-input {
                @include flex(flex, row, nowrap, space-between, center);
                padding: 10px 32px 0;
                width: 100%;

                &.disabled {
                    cursor: not-allowed;
                    opacity: 0.6;
                }

                .input-label {
                    color: $color-primary;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0;
                    margin: 0;
                    width: 70%;

                    &-center {
                        color: $color-primary;
                        font-size: 14px;
                        font-weight: 400;
                        padding: 0;
                        padding-left: 26%;
                        margin: 0;
                        width: 100%;
                        text-align: center;
                    }
                }
                .input-group {
                    @include flex(flex, row, nowrap, flex-end, center);
                    padding: 0;
                    margin: 0;
                    width: 30%;

                    &-item {
                        @include flex(flex, row, nowrap, flex-end, center);
                        padding: 0;
                        margin: 0;
                        margin-right: 24px;
                    }
                }
            }
            .minimizer {
                @include flex(flex, column, nowrap, center, center);
                width: 100%;
                &:hover {
                    .minimizer-image {
                        visibility: visible;
                        transition: visibility 0.3s linear;
                    }
                }
                &-image {
                    @include flex(flex, column, nowrap, center, center);
                    background-color: $color-gray-button;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 27px;
                    margin: 0;
                    position: relative;
                    top: -5px;
                    left: 0px;
                    visibility: hidden;
                    transition: visibility 0.3s linear;
                    width: 30px;
                    img {
                        width: 10px;
                    }

                    &.disabled {
                        cursor: not-allowed;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    &-buttons {
        @include flex(flex, row, nowrap, center, center);
        padding: 32px;
        padding-bottom: 0;
    }
}

.table-tbody-placeholder {
    height: 4px;
    background-color: $color-primary-1;
    transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.colapsed {
    display: none;
    transition: display 0.3s linear;
}
