<div class="create-page-content-left week"
     [class.colapsed-header]="isCollapsed">

    <div class="week-header"
         (click)="isCollapsed = !isCollapsed">
        <p class="week-header-title">Week {{index + 1}}</p>
        <div class="week-header-options">
            <button type="button"
                    class="button-delete"
                    (click)="onDeleteClick()"
                    [disabled]="!isDefaultLanguage"
                    [class.disabled]="!isDefaultLanguage"></button>
            <ng-content></ng-content>
        </div>
    </div>

    <div class="week-table"
         [class.colapsed]="isCollapsed">

        <div class="week-table-thead">
            <p class="week-table-thead-th width-70">Name</p>
            <div class="group">
                <p class="week-table-thead-th">Locked</p>
                <p class="week-table-thead-th">Options</p>
            </div>
        </div>

        <div class="week-table-drag-list-container"
             cdkDropList
             (cdkDropListDropped)="onRoundItemDrop($event)">
            <div *ngFor="let item of week.items; let roundItemIndex = index"
                 class="week-table-tbody"
                 [class.rest]="item.is_rest_day"
                 cdkDrag>
                <div class="week-table-tbody-input">
                    <p class="input-label"
                       *ngIf="!item.is_rest_day">{{item.name}}</p>
                    <p class="input-label-center"
                       *ngIf="item.is_rest_day">Rest Day</p>
                    <div class="input-group">
                        <div class="input-group-item"
                             *ngIf="!item.is_rest_day">
                            <input name="program-is-free"
                                   class="checkbox input-checkbox"
                                   type="checkbox"
                                   [class.true]="item.is_locked"
                                   [class.false]="!item.is_locked"
                                   [(ngModel)]="item.is_locked"
                                   [disabled]="!isDefaultLanguage"
                                   [class.disabled]="!isDefaultLanguage" />
                            <span class="checkbox-label">Locked</span>
                        </div>
                    </div>
                    <button type="button"
                            class="button-edit"
                            *ngIf="!item.is_rest_day"
                            (click)="onEditWeekItemClick(item)"></button>
                    <button type="button"
                            class="button-delete"
                            (click)="onItemDeleteClick(item)"
                            [disabled]="!isDefaultLanguage"
                            [class.disabled]="!isDefaultLanguage"></button>
                    <button type="button"
                            class="button-move width-10"
                            cdkDragHandle
                            [disabled]="!isDefaultLanguage"
                            [class.disabled]="!isDefaultLanguage"></button>
                    <div class="table-tbody-placeholder"
                         *cdkDragPlaceholder></div>
                </div>
                <div class="minimizer">
                    <button class="minimizer-image"
                            type="button"
                            (click)="onAddRestDayClick(item)"
                            [disabled]="!isDefaultLanguage"
                            [class.disabled]="!isDefaultLanguage">
                        <img src="../../../../assets/icons/minimizer.png" />
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="week-buttons"
         [class.colapsed]="isCollapsed">
        <button type="button"
                class="button-modal-green"
                (click)="onAddWorkoutClick()"
                [disabled]="!isDefaultLanguage"
                [class.disabled]="!isDefaultLanguage">Add workout</button>
    </div>
</div>