<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of exercises</h4>
            <div class="page-list-options">
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search exercises" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
                <button type="button"
                        class="button-filter"
                        (click)="showFilters = !showFilters">Filter by<img
                         src="../../../assets/icons/filter.png"></button>
                <button type="button"
                        [routerLink]="['/exercise/create']"
                        class="button-true-green">Create new exercise</button>
            </div>
        </div>

        <div class="filter-row"
             [ngClass]="{'show-filters': showFilters, 'hide-filters': !showFilters}">
            <div class="filter-row-input">
                <p class="input-label">Environments</p>
                <ng-select name="environments"
                           class="select-input"
                           [searchable]="false"
                           [items]="environments"
                           bindLabel="name"
                           bindValue="id"
                           [multiple]="true"
                           [typeahead]="environmentsTypeAhead"
                           placeholder="All environments"
                           [(ngModel)]="environmentIds"
                           (focus)="environmentsTypeAhead.emit('')"
                           (change)="load()">
                </ng-select>
            </div>
            <div class="filter-row-input">
                <p class="input-label">Muscle groups</p>
                <ng-select name="muscle-groups"
                           class="select-input"
                           [items]="muscleGroups"
                           bindLabel="name"
                           bindValue="id"
                           [multiple]="true"
                           [typeahead]="muscleGroupsTypeAhead"
                           placeholder="All muscle groups"
                           [(ngModel)]="muscleGroupIds"
                           (focus)="muscleGroupsTypeAhead.emit('')"
                           (change)="load()">
                </ng-select>
            </div>
            <div class="filter-row-input">
                <p class="input-label">Exercise status</p>
                <ng-select name="exercise-status"
                           class="select-input"
                           [searchable]="false"
                           [items]="statuses"
                           bindLabel="name"
                           bindValue="value"
                           placeholder="All status"
                           [(ngModel)]="isPublished"
                           (change)="load()">
                </ng-select>
            </div>
            <div class="filter-row-input">
                <p class="input-label">Free/Paid</p>
                <ng-select name="free-paid"
                           class="select-input"
                           [searchable]="false"
                           [items]="freePaid"
                           bindLabel="name"
                           bindValue="value"
                           placeholder="Select free or paid"
                           [(ngModel)]="isFree"
                           (change)="load()">
                </ng-select>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Exercise Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Free/Paid</th>
                    <th scope="col">Exercise Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exercise of list">
                    <td scope="row"
                        class="page-list-td-30">{{exercise.name}}</td>
                    <td class="page-list-td-30">{{mapLevels(exercise)}}</td>
                    <td class="page-list-td-10">{{exercise.is_free ? 'Free' : 'Paid'}}</td>
                    <td class="page-list-td-25">
                        <button *ngIf="exercise.is_published"
                                type="button"
                                (click)="publish(exercise)"
                                class="button-status-green">Published</button>
                        <button *ngIf="!exercise.is_published"
                                type="button"
                                (click)="publish(exercise)"
                                class="button-status-gray">Draft</button>
                    </td>
                    <td class="page-list-td-actions">
                        <div class="page-list-td-actions-wrapper">
                            <a type="button"
                               class="button-edit"
                               target="_blank"
                               [routerLink]="['/exercise/edit/', exercise.id]"></a>
                            <button type="button"
                                    class="button-delete"
                                    (click)="delete(exercise.id)"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>