@import './../../../../styles.scss';
@import '../../../shared/components/languages/languages.component.scss';

.button-more-info {
    right: 110px !important;
    width: 100px !important;
    top: 9px;
    &.content {
        width: 100% !important;
        position: initial;
        text-align: left;
        font-size: 16px;
    }
}
.badge-blog,
.badge-program,
.badge-gray {
    border: none;
    background-color: $color-primary;
    color: $color-true-white;
    border-radius: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    cursor: default;
    width: 120px;
    margin: 0;
}
.badge-blog {
    background-color: $color-primary-1;
    color: $color-true-white;
}
.badge-gray {
    background-color: $color-table-th;
    color: $color-true-white;
}

.td-icon {
    margin-right: 10px;
    opacity: 0.8;
    cursor: pointer;
    width: 17px;
    bottom: 0 !important;

    &:last-child {
        margin-right: 0px;
    }
    &:hover {
        opacity: 1;
    }
    @include breakpoint(xlg) {
        width: 14px;
    }
}

.search-wrapper {
    @include breakpoint(xlg) {
        padding-top: 15px;
        order: 3;
    }
}
.page-list-td-60 {
    width: 58%;
}
