<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of Administrators</h4>
            <div class="page-list-options">
                <label class="tub-label"
                       [routerLink]="['/user/user']">List of Users</label>
                <label role="button"
                       class="tub-label active"
                       disabled>List of Administrators</label>
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search administrators" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
                <button type="button"
                        [routerLink]="['/user/administrator/create']"
                        class="button-true-green">Create new Administrator</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Survey</th>
                    <th scope="col">Activated</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admin of list">
                    <td scope="row"
                        class="page-list-td-5">{{admin.id}}</td>
                    <td class="page-list-td-5">
                        <div *ngIf="admin.image"
                             class="page-list-td-image"
                             [ngStyle]="{'background-image': 'url(' + admin.image.url + ')'}">
                        </div>
                        <div *ngIf="!admin.image"
                             class="page-list-td-image">
                        </div>
                    </td>
                    <td class="page-list-td-60">
                        <span class="pointer"
                              [popover]="popTemplateUserBasicInfo"
                              triggers="mouseenter:mouseleave">
                            {{admin.first_name}} {{admin.last_name}}
                        </span>
                        <ng-template #popTemplateUserBasicInfo>
                            <div>
                                <p class="blue-text"><b>Basic info</b></p>
                                <p class="blue-text">Email:
                                    <span class="gray-text"> {{admin.email}}</span>
                                </p>
                                <p class="blue-text">Phone:
                                    <span class="gray-text">{{admin.phone}}</span>
                                </p>
                                <p class="blue-text">Gender:
                                    <span class="gray-text">{{admin.gender}}</span>
                                </p>
                            </div>
                        </ng-template>
                    </td>

                    <td class="page-list-td-10">
                        <ng-template #popTemplateAdminInfo>
                            <div>
                                <p class="blue-text"><b>Basic info</b></p>
                                <p class="blue-text">Administrator:
                                    <span class="gray-text">@{{admin.username}}</span>
                                </p>
                                <p class="blue-text">Exercise Environment:
                                    <span class="gray-text">{{admin.questionnaire.environment.name}}</span>
                                </p>
                                <p class="blue-text">Goals:
                                    <span class="gray-text">{{admin.questionnaire.goals}}</span>
                                </p>
                                <p class="blue-text">Height:
                                    <span class="gray-text"> {{admin.questionnaire.height_in_centimeters}} cm</span>
                                </p>
                                <p class="blue-text">Weight:
                                    <span class="gray-text">{{admin.questionnaire.weight_in_kilograms}} kg</span>
                                </p>
                                <p class="blue-text">Created at:
                                    <span class="gray-text">{{admin.questionnaire.created_at | dateFormat }}</span>
                                </p>
                                <p class="blue-text">Updated at:
                                    <span class="gray-text">{{admin.questionnaire.updated_at | dateFormat }}</span>
                                </p>
                            </div>
                        </ng-template>
                        <ng-template #popTemplateNutrition>
                            <div>
                                <p class="blue-text"><b>Nutrition info</b></p>
                                <p class="blue-text">Fruits:
                                    <span
                                          class="gray-text">{{admin.nutrition_questionnaire.is_fruits_like && 'Like' || "Don't like"}}</span>
                                </p>
                                <p class="blue-text">Meat:
                                    <span
                                          class="gray-text">{{admin.nutrition_questionnaire.is_meat_like && 'Like' || "Don't like"}}</span>
                                </p>
                                <p class="blue-text">Veggie:
                                    <span
                                          class="gray-text">{{admin.nutrition_questionnaire.is_veggie_like && 'Like' || "Don't like"}}</span>
                                </p>
                                <p class="blue-text">Description:
                                    <span class="gray-text">{{admin.nutrition_questionnaire.mine_description}}</span>
                                </p>
                                <p class="blue-text">Typical day:
                                    <span class="gray-text">{{admin.nutrition_questionnaire.typical_day}}</span>
                                </p>
                                <p class="blue-text">Created at:
                                    <span
                                          class="gray-text">{{admin.nutrition_questionnaire.created_at | dateFormat }}</span>
                                </p>
                                <p class="blue-text">Updated at:
                                    <span
                                          class="gray-text">{{admin.nutrition_questionnaire.updated_at | dateFormat }}</span>
                                </p>
                            </div>
                        </ng-template>
                        <img *ngIf="admin.questionnaire"
                             class="td-icon"
                             src="/assets/icons/user.png"
                             [popover]="popTemplateAdminInfo"
                             triggers="mouseenter:mouseleave" />
                        <img *ngIf="admin.is_survey_completed"
                             class="td-icon"
                             src="/assets/icons/utensils-alt.png"
                             [popover]="popTemplateNutrition"
                             triggers="mouseenter:mouseleave" />
                    </td>
                    <td class="page-list-td-5">
                        <p *ngIf="admin.is_active"
                           class="badge-gray">Active</p>
                        <p *ngIf="!admin.is_active"
                           class="badge-gray">Not Active</p>
                    </td>
                    <td class="page-list-td-actions">
                        <div class="page-list-td-actions-wrapper">
                            <a type="button"
                               class="button-edit"
                               target="_blank"
                               [routerLink]="['/user/administrator/edit/', admin.id]"></a>
                            <button type="button"
                                    class="button-delete"
                                    (click)="delete(admin.id)"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>