<div class="page-list">
    <div class="page-list-wrapper">

        <div class="page-list-headline">
            <h4 class="page-list-title">List of Subscriptions</h4>
            <div class="page-list-options">
                <div class="filter-checkboxes">
                    <input name="only-active"
                           id="only-active"
                           class="checkbox input-checkbox"
                           type="checkbox"
                           [class.true]="onlyActive"
                           [class.false]="!onlyActive"
                           (ngModelChange)="searchQueryStream.next(searchQuery)"
                           [(ngModel)]="onlyActive" />
                    <label for="only-active"
                           class="checkbox-label">Only active</label>

                    <input name="include-free-trial"
                           id="include-free-trial"
                           class="checkbox input-checkbox"
                           type="checkbox"
                           [class.true]="includeFreeTrial"
                           [class.false]="!includeFreeTrial"
                           (ngModelChange)="searchQueryStream.next(searchQuery)"
                           [(ngModel)]="includeFreeTrial" />
                    <label for="include-free-trial"
                           class="checkbox-label">Include free trial</label>
                </div>
                <div class="search-wrapper">
                    <input id="search"
                           name="search"
                           class="text-input"
                           type="text"
                           [(ngModel)]="searchQuery"
                           (ngModelChange)="searchQueryStream.next($event)"
                           placeholder="Search by email" />
                    <label for="search"></label>
                    <button class="button-clear"
                            [ngClass]="{'active': searchQuery}"
                            (click)="clearSearch()"></button>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Created/Updated</th>
                    <th scope="col">Package name</th>
                    <th scope="col">Valid until</th>
                    <th scope="col">Last renewal attempt</th>
                    <th scope="col">Renew attempts <br>(only CC)</th>
                    <th scope="col">Renew stopped <br>(only CC)</th>
                    <th scope="col">Payment method</th>
                    <th scope="col">Is free trial</th>
                    <th scope="col">Charged</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subscription of list">
                    <td class="page-list-20">{{subscription.email}}</td>
                    <td class="page-list-20">
                        {{subscription.created_at | dateFormat}}<br>{{subscription.updated_at | dateFormat}}</td>
                    <td class="page-list-20">{{subscription.package_name}}</td>
                    <td class="page-list-5">{{subscription.valid_until | dateFormat}}</td>
                    <td class="page-list-5">{{subscription.last_renewal_attempt | dateFormat}}</td>
                    <td class="page-list-5">{{subscription.renew_attempts}}</td>
                    <td class="page-list-5"
                        *ngIf="subscription.renew_stopped === 0">No</td>
                    <td class="page-list-5"
                        *ngIf="subscription.renew_stopped === 1"><b>Yes</b></td>
                    <td class="page-list-5">{{subscription.payment_method}}</td>
                    <td class="page-list-5"
                        *ngIf="subscription.is_free_trial === 0">No</td>
                    <td class="page-list-5"
                        *ngIf="subscription.is_free_trial === 1"><b>Yes</b></td>
                    <td class="page-list-10">{{subscription.charged_value}} {{subscription.currency_code}}</td>
                </tr>
            </tbody>
        </table>

        <pagination *ngIf="hasPagination"
                    [boundaryLinks]="true"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="10"
                    (pageChanged)="onPageChanged($event)"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
        </pagination>
    </div>

</div>
