<div class="gallery">
    <button *ngIf="item"
            type="button"
            class="button-delete"
            [class.hide]="readonly"
            (click)="onRemoveClick()"></button>

    <div *ngIf="item && item.type === 'image'"
         class="gallery-selecter-img"
         [class.disabled]="readonly"
         [ngStyle]="{'background-image': 'url(' + item.url + ')'}"></div>

    <div *ngIf="item && item.type === 'video'">
        <div *ngIf="!item.playMode"
             class="gallery-selecter-img thumbnail video"
             [ngStyle]="{'background-image': 'url(' + item.thumbnail + ')'}">
            <button *ngIf="!item.playMode"
                    type="button"
                    class="button-gallery"
                    (click)="switchPlayMode(item)">
                <img src="../../../assets/icons/play-white.png" />
            </button>
        </div>
        <video controls
               *ngIf="item.playMode"
               class="gallery-selecter-img video"
               #videoPlayer>
            <source [src]="item.url"
                    [type]="item.mime_type">
            Your browser does not support the video tag.
        </video>
    </div>
    <button *ngIf="!item"
            type="button"
            [disabled]="readonly"
            class="gallery-button"
            (click)="openGallery()">
        <img class="gallery-button-img"
             src="../../../assets/icons/image.png" />
        <p class="gallery-button-p">Click here to add
            <span *ngIf="type === 'image'">an image</span>
            <span *ngIf="type === 'video'">a video</span>
            <span *ngIf="type === 'all'">an image or video</span>
        </p>
    </button>
</div>