@import '../../../styles.scss';
.gallery {
    .button-delete {
        position: relative;
        left: calc(100% - 45px);
        top: 20px;
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 1;
    }
    &-selecter-img {
        border-radius: 5px;
        @include background-image(
            '../../../assets/icons/error',
            png,
            cover,
            center,
            no-repeat
        );
        width: 100%;
        height: 182px;
        top: -20px;
        position: relative;
        margin-bottom: 36px;

        &.thumbnail {
           .button-gallery {
               background-color: $color-primary-transparent-1;
               height: 100%;
               margin: 0;
               width: 100%;
               
               img {
                opacity: .6;

                &:hover {
                    opacity: 1;
                }
               }
           }
        }

        @include breakpoint(lg) {
            height: 120px;
        }

        &.video {
            background-image: none;
        }
    }
    .input-label {
        padding: 0;
        margin: 0;
        color: $color-primary;
        font-size: 16px;
        font-weight: 500;
    }
    &-button {
        @include flex(flex, column, nowrap, center, center);
        border: solid 1px $color-table-th;
        margin: 8px 0 40px;
        border-radius: 5px;
        height: 182px;
        width: 100%;

        &-img {
            margin-bottom: 15px;
        }
        &-p {
            font-size: 16px;
            color: $color-table-th;
            font-weight: 300;
        }
        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    .hide {
        visibility: hidden;
    }
    .disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
